flow.json
[{"id":"b3b2d606.54b4e8","type":"tab","label":"renato - aplicativo IIoT","disabled":false,"info":"Aplicativo IIoT executavel para vendas"},{"id":"bf988a1f.ee36b8","type":"tab","label":"renato - 02","disabled":false,"info":""},{"id":"ac39de50.95a68","type":"tab","label":"thomailson - 01","disabled":false,"info":""},{"id":"30d4d4da.4d61ec","type":"tab","label":"Renato - 03","disabled":false,"info":""},{"id":"6e331fe0.e468d","type":"tab","label":"thomailson - 02","disabled":false,"info":""},{"id":"2591d6d9.c651fa","type":"tab","label":"renato - 4","disabled":false,"info":""},{"id":"71a65480.6333dc","type":"tab","label":"cardoso - 01","disabled":false,"info":""},{"id":"28007bf4.16cad4","type":"tab","label":"Demarchi - 01","disabled":false,"info":""},{"id":"d70acf5c.c918f","type":"ui_group","z":"","name":"Grupo - 01","tab":"e83ca0c.591686","order":1,"disp":true,"width":"6","collapse":false},{"id":"c853af64.8c6d","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IO-Link Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"57bada62.28b484","type":"ui_group","z":"","name":"Grupo - 01","tab":"2e41c69c.6e9c2a","order":2,"disp":true,"width":"6","collapse":false},{"id":"2e41c69c.6e9c2a","type":"ui_tab","z":"","name":"Renato - 01","icon":"dashboard","disabled":false,"hidden":false},{"id":"4bcbb050.66b67","type":"ui_group","z":"","name":"Grupo - 02","tab":"2e41c69c.6e9c2a","order":2,"disp":true,"width":"6","collapse":false},{"id":"e83ca0c.591686","type":"ui_tab","z":"","name":"Thomailson - 01","icon":"dashboard","disabled":false,"hidden":false},{"id":"6b122b55.b75c54","type":"ui_group","z":"","name":"Menu","tab":"44576696.86c408","order":1,"disp":true,"width":"10","collapse":false},{"id":"53a0fcab.801d64","type":"ui_group","z":"","name":"Bom","tab":"44576696.86c408","order":2,"disp":false,"width":"6","collapse":false},{"id":"5d1210cb.e4a4e","type":"ui_group","z":"","name":"Ruim","tab":"44576696.86c408","order":3,"disp":false,"width":"6","collapse":false},{"id":"44576696.86c408","type":"ui_tab","z":"","name":"Fotos Vendedores","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"1e35b511.ba8ddb","type":"ui_tab","z":"","name":"Demarchi","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"3157b8c7.b42148","type":"ui_group","z":"","name":"Menu","tab":"1e35b511.ba8ddb","order":1,"disp":true,"width":"6","collapse":false},{"id":"777f0eb2.466e1","type":"ui_group","z":"","name":"Led Verde","tab":"1e35b511.ba8ddb","order":2,"disp":true,"width":"6","collapse":false},{"id":"32211431.37544c","type":"ui_group","z":"","name":"Led Vermelho","tab":"1e35b511.ba8ddb","order":3,"disp":true,"width":"6","collapse":false},{"id":"c6f4941f.646d68","type":"inject","z":"b3b2d606.54b4e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[[]]},{"id":"2a974323.60cabc","type":"http request","z":"b3b2d606.54b4e8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.0.2/dprop.jsn","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":140,"wires":[[]]},{"id":"86c548d5.c70e58","type":"switch","z":"b3b2d606.54b4e8","name":"Condition switching","property":"write","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":240,"wires":[["863dd7f8.eac228"],["db0f2403.8f95c8"]]},{"id":"5c7f53e0.fd9cdc","type":"inject","z":"b3b2d606.54b4e8","name":"","topic":"","payload":"\"11 01 F4 AA\"","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":200,"wires":[[]]},{"id":"db0f2403.8f95c8","type":"debug","z":"b3b2d606.54b4e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":260,"wires":[]},{"id":"7d3797f5.120f98","type":"function","z":"b3b2d606.54b4e8","name":"","func":"bodval = msg.payload.replace(/\\s/g,''); // removing spaces\nmsg.payload = parseInt(bodval.slice(2,6), 16); // converting from nibble 2 size 6 nibbles\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["b089340e.b4c458","c58c9f2c.5ac13"]]},{"id":"ca8c5ed9.9eeff","type":"function","z":"b3b2d606.54b4e8","name":"","func":"bodval = (msg.payload[0].processInputs).replace(/\\s/g,''); // removing spaces\nmsg.payload = parseInt(bodval.slice(2,6), 16);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[[]]},{"id":"b089340e.b4c458","type":"function","z":"b3b2d606.54b4e8","name":"","func":"if (msg.payload <= 6000) {\n    time = new Date();\n    msg.payload = {Value: msg.payload, Time: time.toString()};\n    msg.write = 1;\n} else {\n    msg.payload = msg.payload;\n    msg.write = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":240,"wires":[["86c548d5.c70e58"]]},{"id":"863dd7f8.eac228","type":"excel","z":"b3b2d606.54b4e8","name":"","file":"C:\\Users\\gomesr\\Desktop\\Datalog.xlsx","x":990,"y":200,"wires":[["d5a147c6.55dd48"]]},{"id":"d5a147c6.55dd48","type":"debug","z":"b3b2d606.54b4e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":200,"wires":[]},{"id":"c58c9f2c.5ac13","type":"ui_chart","z":"b3b2d606.54b4e8","name":"","group":"57bada62.28b484","order":2,"width":0,"height":0,"label":"Distance","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1190,"y":340,"wires":[[]]},{"id":"e560e9ea.b51158","type":"ui_button","z":"b3b2d606.54b4e8","name":"","group":"57bada62.28b484","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"11 01 F4 AA\"","payloadType":"json","topic":"","x":170,"y":260,"wires":[["7d3797f5.120f98"]]},{"id":"27af060f.5f11fa","type":"ui_switch","z":"b3b2d606.54b4e8","name":"","label":"switch","tooltip":"","group":"d70acf5c.c918f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":80,"wires":[["2a974323.60cabc"]]},{"id":"c49abef1.65428","type":"inject","z":"bf988a1f.ee36b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":120,"wires":[["7bea5fa2.53be"]]},{"id":"7bea5fa2.53be","type":"ui_text","z":"bf988a1f.ee36b8","group":"4bcbb050.66b67","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":120,"wires":[]},{"id":"5f7c2608.f23538","type":"inject","z":"30d4d4da.4d61ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":160,"wires":[["a039452d.bf07d8"]]},{"id":"a039452d.bf07d8","type":"debug","z":"30d4d4da.4d61ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":100,"wires":[]},{"id":"4283f5fd.76c2dc","type":"inject","z":"6e331fe0.e468d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[[]]},{"id":"b1b748ec.0bf428","type":"inject","z":"71a65480.6333dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":140,"wires":[["720d2706.1d9ba8"]]},{"id":"720d2706.1d9ba8","type":"debug","z":"71a65480.6333dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":200,"wires":[]},{"id":"9897c9e3.91caf8","type":"inject","z":"ac39de50.95a68","name":"","topic":"","payload":"{\"group\":{\"hide\":[\"Fotos_Vendedores_Bom\",\"Fotos_Vendedores_Ruim\"]}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":80,"wires":[["fd8caf95.aaec2"]]},{"id":"fd8caf95.aaec2","type":"ui_ui_control","z":"ac39de50.95a68","name":"","events":"all","x":660,"y":160,"wires":[[]]},{"id":"f0f03d2b.e5e39","type":"ui_button","z":"ac39de50.95a68","name":"","group":"6b122b55.b75c54","order":1,"width":0,"height":0,"passthru":false,"label":"Aperte aqui para descobrir um vendedor bom","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Fotos_Vendedores_Ruim\"],\"show\":[\"Fotos_Vendedores_Bom\"]}}","payloadType":"json","topic":"","x":270,"y":160,"wires":[["fd8caf95.aaec2"]]},{"id":"83e9491d.a7d0f8","type":"ui_button","z":"ac39de50.95a68","name":"","group":"6b122b55.b75c54","order":3,"width":0,"height":0,"passthru":false,"label":"Aperte aqui para descobrir um vendedor bosta","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Fotos_Vendedores_Bom\"],\"show\":[\"Fotos_Vendedores_Ruim\"]}}","payloadType":"json","topic":"","x":280,"y":200,"wires":[["fd8caf95.aaec2"]]},{"id":"1cfab6e0.aafbc9","type":"ui_button","z":"ac39de50.95a68","name":"","group":"6b122b55.b75c54","order":5,"width":0,"height":0,"passthru":false,"label":"RESET","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Fotos_Vendedores_Bom\",\"Fotos_Vendedores_Ruim\"]}}","payloadType":"json","topic":"","x":200,"y":280,"wires":[["fd8caf95.aaec2"]]},{"id":"6790d3f1.9f369c","type":"ui_media","z":"ac39de50.95a68","group":"53a0fcab.801d64","name":"","width":0,"height":0,"order":1,"category":"Vendedores","file":"BOM.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":670,"y":260,"wires":[[]]},{"id":"38633a86.da60c6","type":"ui_media","z":"ac39de50.95a68","group":"5d1210cb.e4a4e","name":"","width":0,"height":0,"order":1,"category":"Vendedores","file":"BOSTA.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":670,"y":320,"wires":[[]]},{"id":"4d3b6d3c.0b9414","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"3157b8c7.b42148","order":1,"width":0,"height":0,"passthru":false,"label":"Led Verde","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Demarchi_Led_Vermelho\"],\"show\":[\"Demarchi_Led_Verde\"]}}","payloadType":"json","topic":"","x":300,"y":160,"wires":[["6e2d997b.c50b18"]]},{"id":"d4a7c809.a5d6a8","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"3157b8c7.b42148","order":3,"width":0,"height":0,"passthru":false,"label":"Led Vermelho","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Demarchi_Led_Verde\"],\"show\":[\"Demarchi_Led_Vermelho\"]}}","payloadType":"json","topic":"","x":300,"y":240,"wires":[["6e2d997b.c50b18"]]},{"id":"6e2d997b.c50b18","type":"ui_ui_control","z":"28007bf4.16cad4","name":"","events":"all","x":600,"y":180,"wires":[[]]},{"id":"58624f67.43b87","type":"ui_media","z":"28007bf4.16cad4","group":"777f0eb2.466e1","name":"","width":0,"height":0,"order":0,"category":"LedVerde","file":"verde.jpg","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":610,"y":260,"wires":[[]]},{"id":"a0e72e8e.4a961","type":"ui_media","z":"28007bf4.16cad4","group":"32211431.37544c","name":"","width":0,"height":0,"order":1,"category":"LedVermelho","file":"vermelho.jpg","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":610,"y":320,"wires":[[]]},{"id":"764e3684.12ef88","type":"inject","z":"28007bf4.16cad4","name":"","topic":"","payload":"{\"group\":{\"hide\":[\"Demarchi_Led_Verde\",\"Demarchi_Led_Vermelho\"]}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":286,"y":88,"wires":[["6e2d997b.c50b18"]]}]