flow.json
[{"id":"28007bf4.16cad4","type":"tab","label":"Demarchi - 01","disabled":false,"info":""},{"id":"a7812bab.95b4c8","type":"tab","label":"Demarchi - 01_OLD","disabled":false,"info":""},{"id":"5db6df11.b056a","type":"tab","label":"Renato - IIoT Project by Renato Gomes","disabled":false,"info":""},{"id":"1c09e3cd.60cb0c","type":"tab","label":"Renato - Industrial monitoring","disabled":false,"info":""},{"id":"9d7a0db9.eca96","type":"tab","label":"Renato - Extra functions","disabled":false,"info":""},{"id":"76246977.5677f8","type":"tab","label":"cardoso - Excel","disabled":false,"info":""},{"id":"66d9dfa6.8cb38","type":"tab","label":"cardoso - BNI00AJ","disabled":false,"info":""},{"id":"d70acf5c.c918f","type":"ui_group","z":"","name":"Grupo - 01","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c853af64.8c6d","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#202020","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#131f0c","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#131f0c","value":"#131f0c","edited":true},"page-titlebar-backgroundColor":{"value":"#212121","edited":true},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#565252","edited":true},"group-textColor":{"value":"#61a636","edited":true},"group-borderColor":{"value":"#121212","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#000000","edited":true},"widget-backgroundColor":{"value":"#131f0c","edited":true},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IO-Link Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"57bada62.28b484","type":"ui_group","z":"","name":"Grupo - 01","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"4bcbb050.66b67","type":"ui_group","z":"","name":"Grupo - 02","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6b122b55.b75c54","type":"ui_group","z":"","name":"Menu","tab":"44576696.86c408","order":1,"disp":false,"width":"5","collapse":false},{"id":"44576696.86c408","type":"ui_tab","z":"","name":"Fonte HeartBeat","icon":"flash_on","order":7,"disabled":false,"hidden":false},{"id":"1e35b511.ba8ddb","type":"ui_tab","z":"","name":"Industrial Internet Of Things","icon":"router","order":5,"disabled":false,"hidden":false},{"id":"3157b8c7.b42148","type":"ui_group","z":"","name":"Master","tab":"1e35b511.ba8ddb","order":2,"disp":false,"width":"10","collapse":false,"info":"# Teste\nteste"},{"id":"31b2033b.08329c","type":"ui_group","z":"","name":"ESQ","tab":"1e35b511.ba8ddb","order":1,"disp":false,"width":7,"collapse":false},{"id":"bf667a2a.5588f8","type":"ui_group","z":"","name":"DIR","tab":"1e35b511.ba8ddb","order":3,"disp":false,"width":7,"collapse":false},{"id":"d70808c4.7d7328","type":"ui_group","z":"","name":"Renato's Voice Assistant","tab":"639ab493.90ab4c","order":1,"disp":true,"width":11,"collapse":true},{"id":"e98ddaae.efaab8","type":"ui_group","z":"","name":"Temperature - Machine 01 ","tab":"533d079a.55d518","order":1,"disp":true,"width":6,"collapse":true},{"id":"bc7ad18.3a8643","type":"ui_group","z":"","name":"ESQ","tab":"b4352b40.466a38","order":1,"disp":false,"width":"6","collapse":false},{"id":"e9446e16.338ca","type":"ui_group","z":"","name":"Grupo03","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"5c4def7e.406c1","type":"ui_group","z":"","name":"Grupo04","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"76ad6d87.d2bf84","type":"ui_group","z":"","name":"Garage","tab":"","order":2,"disp":false,"width":"10"},{"id":"639ab493.90ab4c","type":"ui_tab","z":"","name":"Renato - Extra Functions","icon":"cloud","order":4,"disabled":false,"hidden":false},{"id":"fc7375d2.8cd908","type":"ui_group","z":"","name":"Visual Recognition","tab":"639ab493.90ab4c","order":2,"disp":true,"width":"11","collapse":false},{"id":"533d079a.55d518","type":"ui_tab","z":"","name":"Renato - Machine Monitoring","icon":"fa-industry","order":3,"disabled":false,"hidden":false},{"id":"9e0c5462.e6d6d8","type":"ui_group","z":"","name":"Speed Vibration - Machine 01","tab":"533d079a.55d518","order":2,"disp":true,"width":6,"collapse":true},{"id":"ebb0d64d.181538","type":"ui_group","z":"","name":"Relative Humidity - Machine 01","tab":"533d079a.55d518","order":3,"disp":true,"width":6,"collapse":true},{"id":"5bbec25c.a9365c","type":"ui_spacer","name":"spacer","group":"11f4febc.fdada1","order":1,"width":6,"height":1},{"id":"437b0de7.a708b4","type":"ui_tab","z":"","name":"Renato - Home IIoT Demo","icon":"home","order":2,"disabled":false,"hidden":false},{"id":"80622b31.cf6fc8","type":"ui_group","z":"","name":"General Information","tab":"437b0de7.a708b4","order":1,"disp":true,"width":18,"collapse":true},{"id":"219375c5.f2d1fa","type":"ui_spacer","name":"spacer","group":"80622b31.cf6fc8","order":2,"width":18,"height":1},{"id":"4b3b7bd6.49b024","type":"ui_spacer","name":"spacer","group":"80622b31.cf6fc8","order":4,"width":18,"height":1},{"id":"13486d8.3846793","type":"ui_spacer","name":"spacer","group":"80622b31.cf6fc8","order":6,"width":"18","height":1},{"id":"ac4f41cc.d4e45","type":"ui_group","z":"","name":"System Status","tab":"533d079a.55d518","order":5,"disp":true,"width":"6","collapse":true},{"id":"ff1a7ea4.c4c3d","type":"ui_group","z":"","name":"Mood Analyzer","tab":"639ab493.90ab4c","order":3,"disp":true,"width":11,"collapse":false},{"id":"1669908b.62a34f","type":"ui_group","z":"","name":"Grupo - 01","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"5a766566.b1897c","type":"ui_group","z":"","name":"Grupo - 01","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"81e61b9c.71aab8","type":"ui_spacer","name":"spacer","group":"e98ddaae.efaab8","order":1,"width":6,"height":1},{"id":"94eee29f.68f43","type":"ui_spacer","name":"spacer","group":"e98ddaae.efaab8","order":2,"width":6,"height":1},{"id":"95827f01.7f96c","type":"ui_spacer","name":"spacer","group":"9e0c5462.e6d6d8","order":1,"width":6,"height":1},{"id":"78d4acf3.f78f44","type":"ui_spacer","name":"spacer","group":"9e0c5462.e6d6d8","order":3,"width":6,"height":1},{"id":"ccc95c43.7328a","type":"ui_spacer","name":"spacer","group":"ebb0d64d.181538","order":2,"width":6,"height":1},{"id":"7f6fcad6.794914","type":"ui_group","z":"","name":"Distance Sensor","tab":"533d079a.55d518","order":4,"disp":true,"width":"6","collapse":true},{"id":"d8a92156.368a8","type":"ui_spacer","name":"spacer","group":"d70808c4.7d7328","order":1,"width":11,"height":1},{"id":"99aacc7d.3f3d8","type":"ui_spacer","name":"spacer","group":"d70808c4.7d7328","order":2,"width":11,"height":1},{"id":"17ec1aae.c7c225","type":"ui_spacer","name":"spacer","group":"fc7375d2.8cd908","order":1,"width":11,"height":1},{"id":"acb8cc46.50029","type":"ui_spacer","name":"spacer","group":"fc7375d2.8cd908","order":2,"width":11,"height":1},{"id":"a8fb971e.21b488","type":"ui_spacer","name":"spacer","group":"31b2033b.08329c","order":3,"width":7,"height":1},{"id":"9239033d.6ada5","type":"ui_spacer","name":"spacer","group":"31b2033b.08329c","order":4,"width":1,"height":1},{"id":"fa042181.934da","type":"ui_spacer","name":"spacer","group":"31b2033b.08329c","order":7,"width":1,"height":1},{"id":"347bd4b9.59086c","type":"ui_spacer","name":"spacer","group":"31b2033b.08329c","order":9,"width":1,"height":1},{"id":"9abb80a9.ed69c","type":"ui_spacer","name":"spacer","group":"31b2033b.08329c","order":12,"width":1,"height":1},{"id":"b904f62f.d0e5f8","type":"ui_spacer","name":"spacer","group":"31b2033b.08329c","order":14,"width":1,"height":1},{"id":"e9e94394.c2608","type":"ui_spacer","name":"spacer","group":"31b2033b.08329c","order":17,"width":1,"height":1},{"id":"adf0d9fa.8c9738","type":"ui_spacer","name":"spacer","group":"31b2033b.08329c","order":19,"width":1,"height":1},{"id":"ae8151d5.8351e","type":"ui_spacer","name":"spacer","group":"31b2033b.08329c","order":22,"width":1,"height":1},{"id":"8539210d.0c184","type":"ui_spacer","name":"spacer","group":"31b2033b.08329c","order":24,"width":7,"height":1},{"id":"a4e8891e.fcefe8","type":"ui_spacer","name":"spacer","group":"3157b8c7.b42148","order":3,"width":10,"height":1},{"id":"e649198f.4af998","type":"ui_spacer","name":"spacer","group":"bf667a2a.5588f8","order":2,"width":7,"height":1},{"id":"8e36a199.9fea2","type":"ui_spacer","name":"spacer","group":"bf667a2a.5588f8","order":5,"width":1,"height":1},{"id":"a0d72b91.b07808","type":"ui_spacer","name":"spacer","group":"bf667a2a.5588f8","order":7,"width":1,"height":1},{"id":"d24fdbf9.8a3d78","type":"ui_spacer","name":"spacer","group":"bf667a2a.5588f8","order":10,"width":1,"height":1},{"id":"c3495763.dff388","type":"ui_spacer","name":"spacer","group":"bf667a2a.5588f8","order":12,"width":1,"height":1},{"id":"3335fc45.33bad4","type":"ui_spacer","name":"spacer","group":"bf667a2a.5588f8","order":15,"width":1,"height":1},{"id":"1d854fdc.d5b44","type":"ui_spacer","name":"spacer","group":"bf667a2a.5588f8","order":17,"width":1,"height":1},{"id":"f64e19b2.072cc8","type":"ui_spacer","name":"spacer","group":"bf667a2a.5588f8","order":20,"width":1,"height":1},{"id":"697496f7.529578","type":"ui_spacer","name":"spacer","group":"bf667a2a.5588f8","order":22,"width":1,"height":1},{"id":"1cf78fae.a3154","type":"ui_spacer","name":"spacer","group":"bf667a2a.5588f8","order":23,"width":7,"height":1},{"id":"51b56704.c2deb8","type":"ui_tab","z":"","name":"BCM - Balluff Condition Monitoring","icon":"trending_down","order":6,"disabled":false,"hidden":false},{"id":"3956f3dd.90821c","type":"ui_group","z":"","name":"TEMPERATURA","tab":"51b56704.c2deb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"b10dcb98.8611d8","type":"ui_group","z":"","name":"VIBRAÇÃO","tab":"51b56704.c2deb8","order":3,"disp":true,"width":"6","collapse":false},{"id":"8341a213.181b2","type":"ui_group","z":"","name":"UMIDADE","tab":"51b56704.c2deb8","order":4,"disp":true,"width":"6","collapse":false},{"id":"b3f099d6.d78d78","type":"ui_spacer","name":"spacer","group":"3956f3dd.90821c","order":1,"width":6,"height":1},{"id":"6d29d29d.495adc","type":"ui_spacer","name":"spacer","group":"b10dcb98.8611d8","order":2,"width":6,"height":1},{"id":"f1c878a8.670378","type":"ui_group","z":"","name":"SmartLight","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"8473f614.05e4c8","type":"ui_group","z":"","name":"Level Mode","tab":"","order":2,"disp":true,"width":"3","collapse":false},{"id":"f277e542.de6508","type":"ui_group","z":"","name":"Segment Mode","tab":"","order":3,"disp":true,"width":"3","collapse":false},{"id":"8c5a6e42.88bfc","type":"ui_spacer","name":"spacer","group":"8473f614.05e4c8","order":1,"width":1,"height":1},{"id":"ed090659.f920d8","type":"ui_spacer","name":"spacer","group":"8473f614.05e4c8","order":3,"width":1,"height":1},{"id":"9663c3ee.cad3","type":"ui_spacer","name":"spacer","group":"8473f614.05e4c8","order":4,"width":1,"height":1},{"id":"70f98617.b602d8","type":"ui_spacer","name":"spacer","group":"8473f614.05e4c8","order":5,"width":1,"height":1},{"id":"741a4925.8ce4c8","type":"ui_spacer","name":"spacer","group":"8473f614.05e4c8","order":6,"width":1,"height":1},{"id":"3f849277.8f39be","type":"ui_spacer","name":"spacer","group":"8473f614.05e4c8","order":7,"width":1,"height":1},{"id":"1deae8ad.ca4187","type":"ui_spacer","name":"spacer","group":"8473f614.05e4c8","order":8,"width":1,"height":1},{"id":"9b77c572.97e568","type":"ui_spacer","name":"spacer","group":"8473f614.05e4c8","order":9,"width":1,"height":1},{"id":"f2c8314.54aebd","type":"ui_spacer","name":"spacer","group":"8473f614.05e4c8","order":10,"width":1,"height":1},{"id":"ff978cd7.9969a","type":"ui_spacer","name":"spacer","group":"8473f614.05e4c8","order":11,"width":1,"height":1},{"id":"a4a682a8.97439","type":"ui_spacer","name":"spacer","group":"8473f614.05e4c8","order":12,"width":1,"height":1},{"id":"9ee7b58c.0e44c8","type":"ui_spacer","name":"spacer","group":"8473f614.05e4c8","order":13,"width":1,"height":1},{"id":"4275b6f1.26c3e8","type":"ui_spacer","name":"spacer","group":"f277e542.de6508","order":1,"width":3,"height":1},{"id":"27ec59f7.d47d46","type":"ui_spacer","name":"spacer","group":"f277e542.de6508","order":2,"width":1,"height":1},{"id":"6b02ce1d.cb24e","type":"ui_spacer","name":"spacer","group":"f277e542.de6508","order":4,"width":1,"height":1},{"id":"2141aedc.3cfd02","type":"ui_spacer","name":"spacer","group":"f277e542.de6508","order":5,"width":1,"height":1},{"id":"e2b60752.07cf68","type":"ui_spacer","name":"spacer","group":"f277e542.de6508","order":7,"width":1,"height":1},{"id":"5c0a0740.9f94d8","type":"ui_spacer","name":"spacer","group":"f277e542.de6508","order":8,"width":1,"height":1},{"id":"5d679bc8.5a2224","type":"ui_spacer","name":"spacer","group":"f277e542.de6508","order":10,"width":1,"height":1},{"id":"61c632c1.f596fc","type":"ui_spacer","name":"spacer","group":"f277e542.de6508","order":11,"width":1,"height":1},{"id":"42cdc8fd.963198","type":"ui_spacer","name":"spacer","group":"f277e542.de6508","order":13,"width":1,"height":1},{"id":"f48d29af.18f6d8","type":"ui_spacer","name":"spacer","group":"f277e542.de6508","order":14,"width":1,"height":1},{"id":"42c7165.d569de8","type":"ui_spacer","name":"spacer","group":"f277e542.de6508","order":16,"width":1,"height":1},{"id":"b4352b40.466a38","type":"ui_tab","z":"","name":"BNI005W","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"7b447b8a.205cb4","type":"ui_group","z":"","name":"CENTRO","tab":"b4352b40.466a38","order":2,"disp":false,"width":"7","collapse":false},{"id":"4af7b158.82c3","type":"ui_group","z":"","name":"DIR","tab":"b4352b40.466a38","order":3,"disp":false,"width":"6","collapse":false},{"id":"84dd02b0.30a9f","type":"ui_group","z":"","name":"DIAG","tab":"b4352b40.466a38","order":4,"disp":false,"width":"19","collapse":false},{"id":"acb20055.8a7e2","type":"ui_spacer","name":"spacer","group":"bc7ad18.3a8643","order":2,"width":2,"height":1},{"id":"f59c6696.77df68","type":"ui_spacer","name":"spacer","group":"bc7ad18.3a8643","order":17,"width":6,"height":1},{"id":"d847f902.fb1ed8","type":"ui_spacer","name":"spacer","group":"4af7b158.82c3","order":4,"width":2,"height":1},{"id":"b69fab36.d1a548","type":"ui_spacer","name":"spacer","group":"4af7b158.82c3","order":17,"width":6,"height":1},{"id":"578d9c73.546464","type":"ui_spacer","name":"spacer","group":"84dd02b0.30a9f","order":4,"width":1,"height":1},{"id":"696d9911.964ff8","type":"ui_spacer","name":"spacer","group":"84dd02b0.30a9f","order":7,"width":1,"height":1},{"id":"4c17cce6.a39604","type":"ui_spacer","name":"spacer","group":"84dd02b0.30a9f","order":10,"width":1,"height":1},{"id":"328ee030.b6c","type":"ui_spacer","name":"spacer","group":"84dd02b0.30a9f","order":13,"width":19,"height":1},{"id":"307b5c9e.9422c4","type":"ui_spacer","name":"spacer","group":"84dd02b0.30a9f","order":16,"width":1,"height":1},{"id":"85780f0f.95ed8","type":"ui_spacer","name":"spacer","group":"84dd02b0.30a9f","order":19,"width":1,"height":1},{"id":"7253798f.2e8df8","type":"ui_spacer","name":"spacer","group":"84dd02b0.30a9f","order":22,"width":1,"height":1},{"id":"69abe957.8c9518","type":"ui_group","z":"","name":"BCM","tab":"51b56704.c2deb8","order":1,"disp":false,"width":6,"collapse":false},{"id":"c82b749e.dc37d8","type":"ui_tab","z":"","name":"BNI0088 - Balluff Smart Light","icon":"battery_60","order":8,"disabled":false,"hidden":false},{"id":"a555bc0a.058ca","type":"ui_group","z":"","name":"Voltage","tab":"44576696.86c408","order":2,"disp":true,"width":"6","collapse":false},{"id":"c41b0953.07d398","type":"ui_group","z":"","name":"Current","tab":"44576696.86c408","order":3,"disp":true,"width":"6","collapse":false},{"id":"866851ce.c73fb","type":"ui_group","z":"","name":"Infos","tab":"44576696.86c408","order":4,"disp":true,"width":"6","collapse":false},{"id":"1b913c74.328464","type":"ui_group","z":"","name":"ESC","tab":"78547663.c16698","order":1,"disp":false,"width":8,"collapse":false},{"id":"b5e72b91.aa0698","type":"ui_group","z":"","name":"CEN","tab":"78547663.c16698","order":1,"disp":false,"width":6,"collapse":false},{"id":"fc2fa4a4.b798f8","type":"ui_group","z":"","name":"DIR","tab":"78547663.c16698","order":3,"disp":false,"width":8,"collapse":false},{"id":"78547663.c16698","type":"ui_tab","z":"","name":"BNI00AJ","icon":"dashboard","order":11,"disabled":false,"hidden":false},{"id":"6e2d997b.c50b18","type":"ui_ui_control","z":"28007bf4.16cad4","name":"","events":"all","x":820,"y":80,"wires":[[]]},{"id":"764e3684.12ef88","type":"inject","z":"28007bf4.16cad4","name":"","topic":"","payload":"{\"group\":{\"show\":[\"Industrial_Internet_Of_Things_Master\",\"Industrial_Internet_Of_Things_ESQ\",\"Industrial_Internet_Of_Things_DIR\"]}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":470,"y":80,"wires":[["6e2d997b.c50b18","2295b5a5.e8548a","5bebb6df.688e68"]]},{"id":"6a442c99.ee37d4","type":"ui_media","z":"28007bf4.16cad4","group":"3157b8c7.b42148","name":"Master_IOL","width":10,"height":9,"order":2,"category":"Master_IOL","file":"Master BNI005H.PNG","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"Master_IOL","x":730,"y":280,"wires":[[]]},{"id":"fbaffe53.5ad07","type":"ui_text","z":"28007bf4.16cad4","group":"31b2033b.08329c","order":8,"width":6,"height":1,"name":"","label":"BOD0026 - Sensor Ótico de Distância","format":"{{msg.payload}}","layout":"row-center","x":410,"y":320,"wires":[]},{"id":"d5156ec.fd9519","type":"ui_text","z":"28007bf4.16cad4","group":"31b2033b.08329c","order":13,"width":6,"height":1,"name":"","label":"DISPOSITIVO PORT 2","format":"{{msg.payload}}","layout":"row-center","x":360,"y":400,"wires":[]},{"id":"968dbac1.504448","type":"ui_text","z":"28007bf4.16cad4","group":"31b2033b.08329c","order":18,"width":6,"height":1,"name":"","label":"DISPOSITIVO PORT 4","format":"{{msg.payload}}","layout":"row-center","x":360,"y":480,"wires":[]},{"id":"5fca4137.29f51","type":"ui_text","z":"28007bf4.16cad4","group":"31b2033b.08329c","order":23,"width":6,"height":1,"name":"","label":"DISPOSITIVO PORT 6","format":"{{msg.payload}}","layout":"row-center","x":360,"y":560,"wires":[]},{"id":"ee6b752d.9950c8","type":"ui_text","z":"28007bf4.16cad4","group":"bf667a2a.5588f8","order":6,"width":6,"height":1,"name":"","label":"DISPOSITIVO PORT 1","format":"{{msg.payload}}","layout":"row-center","x":1020,"y":300,"wires":[]},{"id":"55fa91fa.f2256","type":"ui_text","z":"28007bf4.16cad4","group":"bf667a2a.5588f8","order":11,"width":6,"height":1,"name":"","label":"DISPOSITIVO PORT 3","format":"{{msg.payload}}","layout":"row-center","x":1020,"y":380,"wires":[]},{"id":"811af875.9567f8","type":"ui_text","z":"28007bf4.16cad4","group":"bf667a2a.5588f8","order":16,"width":6,"height":1,"name":"","label":"DISPOSITIVO PORT 5","format":"{{msg.payload}}","layout":"row-center","x":1020,"y":460,"wires":[]},{"id":"1d152594.cd376a","type":"ui_text","z":"28007bf4.16cad4","group":"bf667a2a.5588f8","order":21,"width":6,"height":1,"name":"","label":"DISPOSITIVO PORT 7","format":"{{msg.payload}}","layout":"row-center","x":1020,"y":540,"wires":[]},{"id":"8164bc32.e9662","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"3157b8c7.b42148","order":4,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"black","icon":"","payload":"{}","payloadType":"json","topic":"","x":710,"y":320,"wires":[[]]},{"id":"bfe2e57e.8cbd58","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"3157b8c7.b42148","order":1,"width":0,"height":0,"passthru":true,"label":"Master IO-Link","tooltip":"","color":"","bgcolor":"black","icon":"","payload":"{\"group\":{\"show\":[\"Industrial_Internet_Of_Things_Master\",\"Industrial_Internet_Of_Things_ESQ\",\"Industrial_Internet_Of_Things_DIR\"]}}","payloadType":"json","topic":"","x":740,"y":240,"wires":[["6e2d997b.c50b18"]]},{"id":"e8debc99.26663","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"31b2033b.08329c","order":5,"width":5,"height":1,"passthru":false,"label":"PORT 0","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"{\"group\":{\"show\":[\"BNI005W_ESQ\",\"BNI005W_CENTRO\",\"BNI005W_DIR\",\"BNI005W_DIAG\"],\"hide\":[\"Industrial_Internet_Of_Things_ESQ\",\"Industrial_Internet_Of_Things_Master\",\"Industrial_Internet_Of_Things_DIR\"]}}","payloadType":"json","topic":"","x":320,"y":280,"wires":[["6e2d997b.c50b18"]]},{"id":"5cf57d86.3bb314","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"31b2033b.08329c","order":10,"width":5,"height":1,"passthru":false,"label":"PORT 2","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"{}","payloadType":"json","topic":"","x":320,"y":360,"wires":[[]]},{"id":"ef7b6564.c540f8","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"31b2033b.08329c","order":15,"width":5,"height":1,"passthru":false,"label":"PORT 4","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"{}","payloadType":"json","topic":"","x":320,"y":440,"wires":[[]]},{"id":"51ce877.c31fb78","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"31b2033b.08329c","order":20,"width":5,"height":1,"passthru":false,"label":"PORT 6","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"{}","payloadType":"json","topic":"","x":320,"y":520,"wires":[[]]},{"id":"6e050322.99bf0c","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"bf667a2a.5588f8","order":4,"width":5,"height":1,"passthru":false,"label":"PORT 1","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"{}","payloadType":"json","topic":"","x":980,"y":260,"wires":[[]]},{"id":"4bef63ce.a0984c","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"bf667a2a.5588f8","order":9,"width":5,"height":1,"passthru":false,"label":"PORT 3","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"{}","payloadType":"json","topic":"","x":980,"y":340,"wires":[[]]},{"id":"3deb4c60.8b77d4","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"bf667a2a.5588f8","order":14,"width":5,"height":1,"passthru":false,"label":"PORT 5","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"{}","payloadType":"json","topic":"","x":980,"y":420,"wires":[[]]},{"id":"abbb972f.8e95e8","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"bf667a2a.5588f8","order":19,"width":5,"height":1,"passthru":false,"label":"PORT 7","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"{}","payloadType":"json","topic":"","x":980,"y":500,"wires":[[]]},{"id":"2295b5a5.e8548a","type":"trigger","z":"28007bf4.16cad4","op1":"-","op2":"Balluff Industrial Internet Of Things","op1type":"str","op2type":"str","duration":"2000","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":640,"y":40,"wires":[["b6c83b1b.b823b8"]]},{"id":"b6c83b1b.b823b8","type":"ui_audio","z":"28007bf4.16cad4","name":"","group":"31b2033b.08329c","voice":"en-US","always":"","x":820,"y":40,"wires":[]},{"id":"614653c9.96abcc","type":"ui_led","z":"28007bf4.16cad4","group":"31b2033b.08329c","order":6,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":450,"y":280,"wires":[]},{"id":"280fdc.631f6024","type":"ui_led","z":"28007bf4.16cad4","group":"31b2033b.08329c","order":11,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":450,"y":360,"wires":[]},{"id":"f83aa0b5.3e772","type":"ui_led","z":"28007bf4.16cad4","group":"31b2033b.08329c","order":16,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":450,"y":440,"wires":[]},{"id":"1dc1d1fc.8fb6de","type":"ui_led","z":"28007bf4.16cad4","group":"31b2033b.08329c","order":21,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":450,"y":520,"wires":[]},{"id":"d37a2dea.03921","type":"ui_led","z":"28007bf4.16cad4","group":"bf667a2a.5588f8","order":3,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":1110,"y":260,"wires":[]},{"id":"72981ae0.86f034","type":"ui_led","z":"28007bf4.16cad4","group":"bf667a2a.5588f8","order":18,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":1110,"y":340,"wires":[]},{"id":"93739065.907be","type":"ui_led","z":"28007bf4.16cad4","group":"bf667a2a.5588f8","order":13,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":1110,"y":420,"wires":[]},{"id":"666f210f.a347a","type":"ui_led","z":"28007bf4.16cad4","group":"bf667a2a.5588f8","order":8,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":1110,"y":500,"wires":[]},{"id":"65e1d88d.d48b98","type":"inject","z":"28007bf4.16cad4","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":300,"wires":[["d37a2dea.03921","614653c9.96abcc","280fdc.631f6024","72981ae0.86f034","93739065.907be","f83aa0b5.3e772","1dc1d1fc.8fb6de","666f210f.a347a"]]},{"id":"3cc1c435.b9dd1c","type":"inject","z":"28007bf4.16cad4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["614653c9.96abcc","f83aa0b5.3e772","93739065.907be"]]},{"id":"8226ac90.858c6","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"bf667a2a.5588f8","order":24,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"black","icon":"","payload":"{}","payloadType":"json","topic":"","x":970,"y":580,"wires":[[]]},{"id":"59c79972.2a9c78","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"bf667a2a.5588f8","order":1,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"black","icon":"","payload":"{}","payloadType":"json","topic":"","x":970,"y":220,"wires":[[]]},{"id":"5bebb6df.688e68","type":"ui_template","z":"28007bf4.16cad4","group":"","name":"Logo / Clock","order":0,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n   \n        \n        //add logo\n        var div3 = $('<div/>');\n        var logo2 = new Image();\n\n        logo2.src = 'https://balluffbrasil.com.br/wp-content/uploads/2020/03/balluff.jpg'\n        logo2.height = 68;\n        div3[0].style.margin = '10px auto';\n\n        div3.append(logo2);\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '5px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div3);\n            toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":810,"y":140,"wires":[[]]},{"id":"b8f979db.9c4a38","type":"ui_text_input","z":"28007bf4.16cad4","name":"","label":"Digite o endereço IP do Master","tooltip":"Entre aqui com o IP do Master IO-Link","group":"31b2033b.08329c","order":1,"width":6,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":390,"y":240,"wires":[[]]},{"id":"a71484f1.0d4d48","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"31b2033b.08329c","order":2,"width":"1","height":"1","passthru":false,"label":"G o !","tooltip":"","color":"white","bgcolor":"grey","icon":"","payload":"","payloadType":"str","topic":"","x":570,"y":240,"wires":[[]]},{"id":"5451e8aa.fd5df8","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"31b2033b.08329c","order":25,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"black","icon":"","payload":"{}","payloadType":"json","topic":"","x":310,"y":600,"wires":[[]]},{"id":"9bd0ebd9.996a08","type":"comment","z":"28007bf4.16cad4","name":"PÁGINA - BCM","info":"","x":1280,"y":20,"wires":[]},{"id":"92e6a94e.7d8cd8","type":"ui_level","z":"28007bf4.16cad4","group":"3956f3dd.90821c","order":2,"width":0,"height":0,"name":"Machine Temperature","label":"","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"80","segWarn":"35","segHigh":"55","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"3","colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":1460,"y":80,"wires":[]},{"id":"d483e9fe.28e448","type":"ui_gauge","z":"28007bf4.16cad4","name":"Machine Speed Vibration","group":"b10dcb98.8611d8","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":1470,"y":160,"wires":[]},{"id":"8681c977.cd14e8","type":"ui_chart","z":"28007bf4.16cad4","name":"Historical Data","group":"b10dcb98.8611d8","order":3,"width":0,"height":0,"label":"Historical Data ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data from the sensor","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1440,"y":200,"wires":[[]]},{"id":"f282e541.0f56e8","type":"ui_gauge","z":"28007bf4.16cad4","name":"Relative Humidity","group":"8341a213.181b2","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1450,"y":240,"wires":[]},{"id":"e3551907.5c7278","type":"ui_chart","z":"28007bf4.16cad4","name":"Historical Data","group":"8341a213.181b2","order":2,"width":0,"height":0,"label":"Historical Data ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data from the sensor","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1440,"y":280,"wires":[[]]},{"id":"66bee82f.e10db8","type":"ui_chart","z":"28007bf4.16cad4","name":"Historical Data","group":"3956f3dd.90821c","order":3,"width":0,"height":0,"label":"Historical Data","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data from the sensor","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1440,"y":120,"wires":[[]]},{"id":"c49681ce.1c","type":"comment","z":"28007bf4.16cad4","name":"PÁGINA - BNI005W","info":"","x":1890,"y":20,"wires":[]},{"id":"5bd9e20b.46e7cc","type":"inject","z":"28007bf4.16cad4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1890,"y":60,"wires":[["d51bdbe7.f27bd8"]]},{"id":"d51bdbe7.f27bd8","type":"http request","z":"28007bf4.16cad4","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.0.5/ports.jsn","tls":"","persist":false,"proxy":"","authType":"","x":2070,"y":60,"wires":[["cc5d0085.729f7"]]},{"id":"cc5d0085.729f7","type":"function","z":"28007bf4.16cad4","name":"Port 0","func":"msg.payload = msg.payload.ports[0]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":60,"wires":[["70f9c816.898738"]]},{"id":"466f4222.0563ac","type":"ui_media","z":"28007bf4.16cad4","group":"7b447b8a.205cb4","name":"BNI005W","width":7,"height":6,"order":2,"category":"BNI005W","file":"BNI005W.PNG","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"BNI005W","x":2780,"y":360,"wires":[[]]},{"id":"7bd6a817.c0cb18","type":"ui_text","z":"28007bf4.16cad4","group":"bc7ad18.3a8643","order":5,"width":2,"height":1,"name":"","label":"PORT 0","format":"{{msg.payload}}","layout":"row-right","x":2380,"y":360,"wires":[]},{"id":"85eca571.24b658","type":"ui_text","z":"28007bf4.16cad4","group":"bc7ad18.3a8643","order":8,"width":2,"height":1,"name":"","label":"PORT 2","format":"{{msg.payload}}","layout":"row-right","x":2380,"y":400,"wires":[]},{"id":"4f507163.84b6","type":"ui_text","z":"28007bf4.16cad4","group":"bc7ad18.3a8643","order":11,"width":2,"height":1,"name":"","label":"PORT 4","format":"{{msg.payload}}","layout":"row-right","x":2380,"y":440,"wires":[]},{"id":"88c5437a.37ea3","type":"ui_text","z":"28007bf4.16cad4","group":"bc7ad18.3a8643","order":14,"width":2,"height":1,"name":"","label":"PORT 6","format":"{{msg.payload}}","layout":"row-right","x":2380,"y":480,"wires":[]},{"id":"9f3678ce.2384c8","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"7b447b8a.205cb4","order":3,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"black","icon":"","payload":"{}","payloadType":"json","topic":"","x":2770,"y":400,"wires":[[]]},{"id":"84bdc136.9edb7","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"7b447b8a.205cb4","order":1,"width":7,"height":1,"passthru":true,"label":"BNI005W","tooltip":"","color":"","bgcolor":"black","icon":"","payload":"","payloadType":"num","topic":"","x":2780,"y":320,"wires":[[]]},{"id":"768e323a.0bcaec","type":"ui_led","z":"28007bf4.16cad4","group":"bc7ad18.3a8643","order":6,"width":2,"height":1,"label":"","labelPlacement":"right","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2510,"y":360,"wires":[]},{"id":"2526b036.cc15b","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"bc7ad18.3a8643","order":1,"width":6,"height":1,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"{\"group\":{\"hide\":[\"BNI005W_ESQ\",\"BNI005W_CENTRO\",\"BNI005W_DIR\",\"BNI005W_DIAG\"],\"show\":[\"Industrial_Internet_Of_Things_ESQ\",\"Industrial_Internet_Of_Things_Master\",\"Industrial_Internet_Of_Things_DIR\"]}}","payloadType":"json","topic":"","x":2370,"y":320,"wires":[["6e2d997b.c50b18"]]},{"id":"83befc9b.05e13","type":"ui_led","z":"28007bf4.16cad4","group":"bc7ad18.3a8643","order":7,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"green","value":"1","valueType":"str"},{"color":"grey","value":"0","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2630,"y":360,"wires":[]},{"id":"716c78f3.835848","type":"ui_text","z":"28007bf4.16cad4","group":"bc7ad18.3a8643","order":3,"width":2,"height":1,"name":"","label":"PIN 2","format":"{{msg.payload}}","layout":"row-left","x":2510,"y":320,"wires":[]},{"id":"cc82376d.a835d8","type":"ui_text","z":"28007bf4.16cad4","group":"bc7ad18.3a8643","order":4,"width":2,"height":1,"name":"","label":"PIN 4","format":"{{msg.payload}}","layout":"row-left","x":2630,"y":320,"wires":[]},{"id":"1cd698.8d57c968","type":"ui_led","z":"28007bf4.16cad4","group":"bc7ad18.3a8643","order":9,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2510,"y":400,"wires":[]},{"id":"d20c2a71.0212c8","type":"ui_led","z":"28007bf4.16cad4","group":"bc7ad18.3a8643","order":10,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2630,"y":400,"wires":[]},{"id":"a8cadce.5bc742","type":"ui_led","z":"28007bf4.16cad4","group":"bc7ad18.3a8643","order":12,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2510,"y":440,"wires":[]},{"id":"852618d1.b23a38","type":"ui_led","z":"28007bf4.16cad4","group":"bc7ad18.3a8643","order":13,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2630,"y":440,"wires":[]},{"id":"93fa5239.0d475","type":"ui_led","z":"28007bf4.16cad4","group":"bc7ad18.3a8643","order":15,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2510,"y":480,"wires":[]},{"id":"f012f3cd.ad51e","type":"ui_led","z":"28007bf4.16cad4","group":"bc7ad18.3a8643","order":16,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2630,"y":480,"wires":[]},{"id":"b93db003.b87c2","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"bc7ad18.3a8643","order":18,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"black","icon":"","payload":"{}","payloadType":"json","topic":"","x":2370,"y":520,"wires":[[]]},{"id":"3f96d942.b709c6","type":"ui_text","z":"28007bf4.16cad4","group":"4af7b158.82c3","order":7,"width":2,"height":1,"name":"","label":"PORT 1","format":"{{msg.payload}}","layout":"row-left","x":2960,"y":360,"wires":[]},{"id":"da43fd24.9ebd7","type":"ui_text","z":"28007bf4.16cad4","group":"4af7b158.82c3","order":10,"width":2,"height":1,"name":"","label":"PORT 3","format":"{{msg.payload}}","layout":"row-left","x":2960,"y":400,"wires":[]},{"id":"2baf579d.c852e8","type":"ui_text","z":"28007bf4.16cad4","group":"4af7b158.82c3","order":13,"width":2,"height":1,"name":"","label":"PORT 5","format":"{{msg.payload}}","layout":"row-left","x":2960,"y":440,"wires":[]},{"id":"e7e6e82c.2c8de8","type":"ui_text","z":"28007bf4.16cad4","group":"4af7b158.82c3","order":16,"width":2,"height":1,"name":"","label":"PORT 7","format":"{{msg.payload}}","layout":"row-left","x":2960,"y":480,"wires":[]},{"id":"807c9498.ea1dc8","type":"ui_led","z":"28007bf4.16cad4","group":"4af7b158.82c3","order":5,"width":2,"height":1,"label":"","labelPlacement":"right","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3090,"y":360,"wires":[]},{"id":"f43f399a.788a08","type":"ui_text","z":"28007bf4.16cad4","group":"4af7b158.82c3","order":2,"width":2,"height":1,"name":"","label":"PIN 2","format":"{{msg.payload}}","layout":"row-left","x":3070,"y":320,"wires":[]},{"id":"6f26714d.d37c4","type":"ui_text","z":"28007bf4.16cad4","group":"4af7b158.82c3","order":3,"width":2,"height":1,"name":"","label":"PIN 4","format":"{{msg.payload}}","layout":"row-spread","x":3190,"y":320,"wires":[]},{"id":"9aeac879.25b2c8","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"4af7b158.82c3","order":1,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"black","icon":"","payload":"{}","payloadType":"json","topic":"","x":2950,"y":520,"wires":[[]]},{"id":"9e201840.96fb38","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"4af7b158.82c3","order":18,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"White","bgcolor":"black","icon":"","payload":"","payloadType":"num","topic":"","x":2950,"y":320,"wires":[[]]},{"id":"a5669c12.49b7c","type":"ui_led","z":"28007bf4.16cad4","group":"4af7b158.82c3","order":6,"width":2,"height":1,"label":"","labelPlacement":"right","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3210,"y":360,"wires":[]},{"id":"c078da17.e8ad28","type":"ui_led","z":"28007bf4.16cad4","group":"4af7b158.82c3","order":8,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3090,"y":400,"wires":[]},{"id":"af4d9d94.f884b","type":"ui_led","z":"28007bf4.16cad4","group":"4af7b158.82c3","order":9,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3210,"y":400,"wires":[]},{"id":"f47db536.9d0c48","type":"ui_led","z":"28007bf4.16cad4","group":"4af7b158.82c3","order":11,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3090,"y":440,"wires":[]},{"id":"7a22de42.ab93a","type":"ui_led","z":"28007bf4.16cad4","group":"4af7b158.82c3","order":12,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3210,"y":440,"wires":[]},{"id":"dd0038a6.e12988","type":"ui_led","z":"28007bf4.16cad4","group":"4af7b158.82c3","order":14,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3090,"y":480,"wires":[]},{"id":"f22ad50.f10d728","type":"ui_led","z":"28007bf4.16cad4","group":"4af7b158.82c3","order":15,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3210,"y":480,"wires":[]},{"id":"b183b3fc.1374e","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"84dd02b0.30a9f","order":1,"width":0,"height":0,"passthru":true,"label":"DIAGNÓSTICOS","tooltip":"","color":"","bgcolor":"black","icon":"","payload":"","payloadType":"num","topic":"","x":2650,"y":820,"wires":[[]]},{"id":"538c103.5e05bf","type":"ui_text","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":2,"width":3,"height":1,"name":"","label":"FALHA PORT 0","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":860,"wires":[]},{"id":"889724ea.72a3e8","type":"ui_text","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":5,"width":3,"height":1,"name":"","label":"FALHA PORT 1","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":900,"wires":[]},{"id":"fe57d2b2.b5477","type":"ui_text","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":8,"width":3,"height":1,"name":"","label":"FALHA PORT 2","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":940,"wires":[]},{"id":"aaaf29e5.88de28","type":"ui_text","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":11,"width":3,"height":1,"name":"","label":"FALHA PORT 3","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":980,"wires":[]},{"id":"d74f619.3582aa","type":"ui_text","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":14,"width":3,"height":1,"name":"","label":"FALHA PORT 4","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":1020,"wires":[]},{"id":"bf4255b1.8e7198","type":"ui_text","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":17,"width":3,"height":1,"name":"","label":"FALHA PORT 5","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":1060,"wires":[]},{"id":"6edfec09.7abae4","type":"ui_text","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":20,"width":3,"height":1,"name":"","label":"FALHA PORT 6","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":1100,"wires":[]},{"id":"3a2dc07d.f4399","type":"ui_led","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":3,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":860,"wires":[]},{"id":"7c66a724.f4d038","type":"ui_led","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":6,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":900,"wires":[]},{"id":"3c7bf4cc.68f19c","type":"ui_led","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":9,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":940,"wires":[]},{"id":"e848db50.c30898","type":"ui_led","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":12,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":980,"wires":[]},{"id":"93bf6e8f.8496f","type":"ui_led","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":15,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":1020,"wires":[]},{"id":"44eea67e.ed6e48","type":"ui_led","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":18,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":1060,"wires":[]},{"id":"a85460fe.6333","type":"ui_led","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":21,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":1100,"wires":[]},{"id":"9247ecfe.68702","type":"ui_led","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":24,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":1140,"wires":[]},{"id":"589cfe09.3bdf6","type":"ui_button","z":"28007bf4.16cad4","name":"","group":"84dd02b0.30a9f","order":25,"width":0,"height":0,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"black","icon":"","payload":"","payloadType":"num","topic":"","x":2610,"y":1180,"wires":[[]]},{"id":"5b3869b.af22398","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload = msg.payload.toString(2);\nreturn msg;","outputs":1,"noerr":0,"x":2030,"y":520,"wires":[[]]},{"id":"4a397ea7.b5192","type":"function","z":"28007bf4.16cad4","name":"Port 1","func":"AJval1 = (msg.payload.ports[1].processInputs).replace(/\\s/g,''); // removing spaces\nmsg.payload = parseInt(AJval1.slice(0,8), 16);\nreturn msg;","outputs":1,"noerr":0,"x":2490,"y":140,"wires":[[]]},{"id":"70f9c816.898738","type":"function","z":"28007bf4.16cad4","name":"Hex to Bin","func":"var output1 = {}; //define output\nvar output2 = {}; //define output\nvar output3 = {}; //define output\nvar hex = (msg.payload.processInputs).replace(/ /g, \"\");\nvar dec = parseInt(hex,16);\n//no leading zeroeswith this method\n//var bit = parseInt(hex,16).toString(2);\nvar bit\nfunction hexToBinary(s) {\nvar i, k, part, ret = '';\n// lookup table for easier conversion. '0' characters are padded for '1' to '7'\nvar lookupTable = {\n'0': '0000', '1': '0001', '2': '0010', '3': '0011', '4': '0100',\n'5': '0101', '6': '0110', '7': '0111', '8': '1000', '9': '1001',\n'a': '1010', 'b': '1011', 'c': '1100', 'd': '1101',\n'e': '1110', 'f': '1111',\n'A': '1010', 'B': '1011', 'C': '1100', 'D': '1101',\n'E': '1110', 'F': '1111'\n};\nfor (i = 0; i < s.length; i += 1) {\nif (lookupTable.hasOwnProperty(s[i])) {\nret += lookupTable[s[i]];\n} else {\nreturn { valid: false };\n}\n}\nreturn { valid: true, result: ret };\n}\nbit=hexToBinary(hex);\noutput1.payload=hex;\noutput2.payload=dec;\noutput3.payload=bit.result;\nreturn [output1,output2,output3];","outputs":3,"noerr":0,"x":2070,"y":140,"wires":[[],[],["489f0225.41826c","c80336c2.4fdae8","db375eb3.3fb27","9b048add.11e248","50a92b68.d46a64","5f24ef52.37f4e","cdb1ecd0.a0f2f","629e8f99.0eba6","49412e85.973ba","50458859.451e78","640deb96.c33df4","e36c1a0e.aadc18","8dc984c7.7fe288","25c9cb8.46d9734","d4ca6e19.86abc","7ab11692.b79528"]]},{"id":"489f0225.41826c","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[15]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":260,"wires":[["768e323a.0bcaec"]]},{"id":"c80336c2.4fdae8","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[7]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":300,"wires":[["83befc9b.05e13"]]},{"id":"db375eb3.3fb27","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[14]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":340,"wires":[["807c9498.ea1dc8"]]},{"id":"9b048add.11e248","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[6]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":380,"wires":[["a5669c12.49b7c"]]},{"id":"50a92b68.d46a64","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[13]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":420,"wires":[["1cd698.8d57c968"]]},{"id":"5f24ef52.37f4e","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[5]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":460,"wires":[["d20c2a71.0212c8"]]},{"id":"cdb1ecd0.a0f2f","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[12]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":500,"wires":[["c078da17.e8ad28"]]},{"id":"629e8f99.0eba6","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[4]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":540,"wires":[["af4d9d94.f884b"]]},{"id":"49412e85.973ba","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[11]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":580,"wires":[["a8cadce.5bc742"]]},{"id":"50458859.451e78","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[3]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":620,"wires":[["852618d1.b23a38"]]},{"id":"640deb96.c33df4","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[10]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":660,"wires":[["f47db536.9d0c48"]]},{"id":"e36c1a0e.aadc18","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[2]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":700,"wires":[["7a22de42.ab93a"]]},{"id":"8dc984c7.7fe288","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[9]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":740,"wires":[["93fa5239.0d475"]]},{"id":"25c9cb8.46d9734","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[1]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":780,"wires":[["f012f3cd.ad51e"]]},{"id":"d4ca6e19.86abc","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[8]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":820,"wires":[["dd0038a6.e12988"]]},{"id":"7ab11692.b79528","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":860,"wires":[["f22ad50.f10d728"]]},{"id":"3f438f9a.bd29c","type":"ui_text","z":"28007bf4.16cad4","group":"84dd02b0.30a9f","order":23,"width":3,"height":1,"name":"","label":"FALHA PORT 7","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":1140,"wires":[]},{"id":"8c655483.f849c8","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[16]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":900,"wires":[["9247ecfe.68702"]]},{"id":"40e10c4d.4efb14","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[17]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":940,"wires":[["a85460fe.6333"]]},{"id":"84806e2b.8bca1","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[18]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":980,"wires":[["44eea67e.ed6e48"]]},{"id":"bd9e7e29.1d921","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[19]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":1020,"wires":[["93bf6e8f.8496f"]]},{"id":"55c13dcc.cbdef4","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[20]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":1060,"wires":[["e848db50.c30898"]]},{"id":"dd7416e0.f9fcd8","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[21]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":1100,"wires":[["3c7bf4cc.68f19c"]]},{"id":"d3ab8a7e.b38a58","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[22]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":1140,"wires":[["7c66a724.f4d038"]]},{"id":"da4b2f0c.a32d9","type":"function","z":"28007bf4.16cad4","name":"","func":"msg.payload=msg.payload[23]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":1180,"wires":[["3a2dc07d.f4399"]]},{"id":"8867c4c7.83e928","type":"function","z":"28007bf4.16cad4","name":"Hex to Bin","func":"var output1 = {}; //define output\nvar output2 = {}; //define output\nvar output3 = {}; //define output\nvar hex = (msg.payload.processInputs).replace(/ /g, \"\");\nvar dec = parseInt(hex,16);\n//no leading zeroeswith this method\n//var bit = parseInt(hex,16).toString(2);\nvar bit\nfunction hexToBinary(s) {\nvar i, k, part, ret = '';\n// lookup table for easier conversion. '0' characters are padded for '1' to '7'\nvar lookupTable = {\n'0': '0000', '1': '0001', '2': '0010', '3': '0011', '4': '0100',\n'5': '0101', '6': '0110', '7': '0111', '8': '1000', '9': '1001',\n'a': '1010', 'b': '1011', 'c': '1100', 'd': '1101',\n'e': '1110', 'f': '1111',\n'A': '1010', 'B': '1011', 'C': '1100', 'D': '1101',\n'E': '1110', 'F': '1111'\n};\nfor (i = 0; i < s.length; i += 1) {\nif (lookupTable.hasOwnProperty(s[i])) {\nret += lookupTable[s[i]];\n} else {\nreturn { valid: false };\n}\n}\nreturn { valid: true, result: ret };\n}\nbit=hexToBinary(hex);\noutput1.payload=hex;\noutput2.payload=dec;\noutput3.payload=bit.result;\nreturn [output1,output2,output3];","outputs":3,"noerr":0,"x":1910,"y":1060,"wires":[[],[],[]]},{"id":"8390e87.afbcc18","type":"function","z":"28007bf4.16cad4","name":"Port x","func":"msg.payload ='000000000000000011111111'\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":940,"wires":[["8c655483.f849c8","40e10c4d.4efb14","84806e2b.8bca1","bd9e7e29.1d921","55c13dcc.cbdef4","dd7416e0.f9fcd8","d3ab8a7e.b38a58","da4b2f0c.a32d9","39b8c9ef.3a7e96"]]},{"id":"e6c2b06c.dd50f","type":"inject","z":"28007bf4.16cad4","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1850,"y":880,"wires":[["8390e87.afbcc18"]]},{"id":"39b8c9ef.3a7e96","type":"debug","z":"28007bf4.16cad4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2000,"y":1240,"wires":[]},{"id":"5084e5ec.a319dc","type":"comment","z":"28007bf4.16cad4","name":"PÁGINA PRINCIPAL - MASTER IOL","info":"","x":160,"y":20,"wires":[]},{"id":"82f030fa.27613","type":"ui_button","z":0,"name":"","group":"6b122b55.b75c54","order":1,"width":0,"height":0,"passthru":false,"label":"BACK","tooltip":"Voltar á tela do Master IO-Link","color":"WHITE","bgcolor":"BLACK","icon":"","payload":"","payloadType":"str","topic":"","x":1050,"y":360,"wires":[[]]},{"id":"24a54f6a.4ea33","type":"ui_media","z":0,"group":"6b122b55.b75c54","name":"BAE","width":"5","height":"8","order":2,"category":"HeartBeat","file":"BAE00T4.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"BAE","x":1170,"y":360,"wires":[[]]},{"id":"1da22578.d0715b","type":"http request","z":0,"name":"BNI Json","method":"use","ret":"obj","url":"","tls":"","x":709,"y":94.00001525878906,"wires":[["752e3094.2a691"]]},{"id":"aac17927.e15df8","type":"function","z":0,"name":"Configure GET command","func":"msg.method=\"GET\";\nmsg.url=global.get(\"IP\")+\"/ports.jsn\";\n\nif (msg.url!==\"\")\n{\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":495.982666015625,"y":92.98959350585938,"wires":[["1da22578.d0715b"]]},{"id":"96209c42.f1167","type":"inject","z":0,"name":"","topic":"","payload":"192.168.0.100","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["e54b8e1d.430fd"]]},{"id":"752e3094.2a691","type":"function","z":0,"name":"Global set master_data","func":"global.set(\"master_data\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":100,"wires":[["3037c6fd.bca45a"]]},{"id":"3d0319bc.de86c6","type":"udp out","z":0,"name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"2000","base64":false,"multicast":"false","x":1030,"y":240,"wires":[]},{"id":"2ae66cc6.6bdd74","type":"function","z":0,"name":"Set Payload to Buffer","func":"var string = msg.hex.replace(/\\s/g,'');\nmsg.ip = msg.host;\nmsg.port = '1999';\nmsg.payload = Buffer.from(string,\"hex\");\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":840,"y":240,"wires":[["3d0319bc.de86c6"]]},{"id":"2872b680.071f3a","type":"function","z":0,"name":"foreach port","func":"// list of ports to initialize\nlet ports = msg.ports || [0]; \n\n// get port_index from node context, or initialize\nlet port_index = context.get('port_index') || 0;\n\n// finished?\nif (port_index >= ports.length) {\n    context.set('port_index', null); // undefine port_index\n    return null;\n}\n    \n// prepare message:\nmsg.port = (\"00\" + ports[port_index]).slice(-2);\n\n// next port...\ncontext.set('port_index', port_index+1);\n\nmsg.hex = '24 00 02 0F '+ msg.port +' 00 0C 11 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 32 32';\n\nreturn msg;\n\n//24 00.02.0F.00.00.0C.11.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.32.32","outputs":"1","noerr":0,"x":610,"y":240,"wires":[["47ba1a8b.15c8c4","2ae66cc6.6bdd74"]]},{"id":"47ba1a8b.15c8c4","type":"delay","z":0,"name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":280,"wires":[["2872b680.071f3a"]]},{"id":"9a3f91ec.53d64","type":"change","z":0,"name":"read host and ports from config","rules":[{"t":"set","p":"host","pt":"msg","to":"IP","tot":"global"},{"t":"set","p":"ports","pt":"msg","to":"[0,1,2,3,4,5,6,7]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":240,"wires":[["2872b680.071f3a"]]},{"id":"75df3d51.3fd264","type":"inject","z":0,"name":"Ts-35s","topic":"","payload":"","payloadType":"date","repeat":"35","crontab":"","once":false,"onceDelay":"5","x":100,"y":240,"wires":[["9a3f91ec.53d64"]]},{"id":"46d17b53.1c6e84","type":"comment","z":0,"name":"Get Master Data","info":"Get and safe the master data.\nPlease configure the IP-adress correctly.","x":80,"y":40,"wires":[]},{"id":"ad0ead3c.54d6a","type":"comment","z":0,"name":"Set Ports to IO-Link","info":"With this node flow you can set the ports to IO-Link.\nPlease configure the IP adress correctly.","x":90,"y":177.99998474121094,"wires":[]},{"id":"e54b8e1d.430fd","type":"function","z":0,"name":"Global set IP","func":"global.set(\"IP\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":93,"wires":[["aac17927.e15df8"]]},{"id":"e439e759.1586d8","type":"comment","z":0,"name":"Read the Port 0","info":"With this node flow you can set read a Port with Heartbeat","x":80,"y":340,"wires":[]},{"id":"c184a982.2bfbd8","type":"inject","z":0,"name":"Get Port Info","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":401,"wires":[["4e23e4d7.ef4ddc"]]},{"id":"4e23e4d7.ef4ddc","type":"change","z":0,"name":"read host and ports from config","rules":[{"t":"set","p":"payload","pt":"msg","to":"master_data","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":401,"wires":[["c58273eb.ea09e"]]},{"id":"626b20.8a60a4e","type":"comment","z":0,"name":"Dashboard","info":"","x":1100,"y":320,"wires":[]},{"id":"3037c6fd.bca45a","type":"change","z":0,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":100,"wires":[[]]},{"id":"c58273eb.ea09e","type":"function","z":0,"name":"Port0","func":"msg.payload = msg.payload.ports[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":401,"wires":[["b0afd68a.838308","33b28c8e.0a7414","344d216f.6c28ae","57543bb.09dcbc4"]]},{"id":"b0afd68a.838308","type":"function","z":0,"name":"Vendor Name","func":"msg.payload=msg.payload.vendorName;\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":401,"wires":[[]]},{"id":"33b28c8e.0a7414","type":"function","z":0,"name":"Product","func":"msg.payload=msg.payload.productName;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":441,"wires":[[]]},{"id":"344d216f.6c28ae","type":"function","z":0,"name":"Product Text","func":"msg.payload=msg.payload.productText;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":481,"wires":[[]]},{"id":"ec3fa7d7.93d3d8","type":"function","z":0,"name":"Output voltage","func":"msg.payload = parseInt(msg.payload.slice(0,12), 2);\nmsg.payload = (msg.payload/10);\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":541,"wires":[["c140ef8e.2e77f","e4e89077.84336"]]},{"id":"57543bb.09dcbc4","type":"function","z":0,"name":"Hex to Bin","func":"var output1 = {}; //define output\nvar output2 = {}; //define output\nvar output3 = {}; //define output\nvar hex = (msg.payload.processInputs).replace(/ /g, \"\");\nvar dec = parseInt(hex,16);\n//no leading zeroeswith this method\n//var bit = parseInt(hex,16).toString(2);\nvar bit\nfunction hexToBinary(s) {\nvar i, k, part, ret = '';\n// lookup table for easier conversion. '0' characters are padded for '1' to '7'\nvar lookupTable = {\n'0': '0000', '1': '0001', '2': '0010', '3': '0011', '4': '0100',\n'5': '0101', '6': '0110', '7': '0111', '8': '1000', '9': '1001',\n'a': '1010', 'b': '1011', 'c': '1100', 'd': '1101',\n'e': '1110', 'f': '1111',\n'A': '1010', 'B': '1011', 'C': '1100', 'D': '1101',\n'E': '1110', 'F': '1111'\n};\nfor (i = 0; i < s.length; i += 1) {\nif (lookupTable.hasOwnProperty(s[i])) {\nret += lookupTable[s[i]];\n} else {\nreturn { valid: false };\n}\n}\nreturn { valid: true, result: ret };\n}\nbit=hexToBinary(hex);\noutput1.payload=hex;\noutput2.payload=dec;\noutput3.payload=bit.result;\nreturn [output1,output2,output3];","outputs":3,"noerr":0,"x":730,"y":541,"wires":[[],[],["ad66929d.cdaf4","6d052c4e.2e5cd4","c6073e0d.03baa","7678cdbb.7e9bc4","71cffd83.eedc24"]]},{"id":"e6ae2a1f.e2c778","type":"function","z":0,"name":"Output current","func":"msg.payload = parseInt(msg.payload.slice(12,24), 2);\nmsg.payload = (msg.payload/10);\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":620,"wires":[["69ed03b3.5aa68c","2f714714.eb8f18"]]},{"id":"ad66929d.cdaf4","type":"function","z":0,"name":"PSU","func":"msg.payload = msg.payload[25];\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":680,"wires":[["7dad15f.e6f77ec"]]},{"id":"6d052c4e.2e5cd4","type":"function","z":0,"name":"Output drop","func":"msg.payload = msg.payload[29];\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":720,"wires":[["8324fe91.f7736"]]},{"id":"c6073e0d.03baa","type":"function","z":0,"name":"Over temperature","func":"msg.payload = msg.payload[30];\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":760,"wires":[["69be5f8c.6da1a"]]},{"id":"7678cdbb.7e9bc4","type":"function","z":0,"name":"Over Voltage","func":"msg.payload = msg.payload[31];\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":800,"wires":[["993870e7.ac10e"]]},{"id":"71cffd83.eedc24","type":"function","z":0,"name":"Overload","func":"msg.payload = msg.payload[32];\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":840,"wires":[["13cd4fc7.82644"]]},{"id":"c140ef8e.2e77f","type":"ui_chart","z":0,"name":"","group":"a555bc0a.058ca","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":560,"wires":[[]]},{"id":"69ed03b3.5aa68c","type":"ui_chart","z":0,"name":"","group":"c41b0953.07d398","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":640,"wires":[[]]},{"id":"7dad15f.e6f77ec","type":"ui_led","z":0,"group":"866851ce.c73fb","order":1,"width":0,"height":0,"label":"PSU","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":1090,"y":680,"wires":[]},{"id":"e4e89077.84336","type":"ui_gauge","z":0,"name":"","group":"a555bc0a.058ca","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"[V]","format":"{{value}} ","min":0,"max":"30","colors":["#e6e600","#00b500","#ca3838"],"seg1":"18","seg2":"26","x":1090,"y":520,"wires":[]},{"id":"2f714714.eb8f18","type":"ui_gauge","z":0,"name":"","group":"c41b0953.07d398","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"[A]","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"4","seg2":"4.9","x":1090,"y":600,"wires":[]},{"id":"8324fe91.f7736","type":"ui_led","z":0,"group":"866851ce.c73fb","order":3,"width":0,"height":0,"label":"Output Drop","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":1090,"y":720,"wires":[]},{"id":"69be5f8c.6da1a","type":"ui_led","z":0,"group":"866851ce.c73fb","order":4,"width":0,"height":0,"label":"Over Temperature","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":1090,"y":760,"wires":[]},{"id":"993870e7.ac10e","type":"ui_led","z":0,"group":"866851ce.c73fb","order":7,"width":0,"height":0,"label":"Over Voltage","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":1090,"y":800,"wires":[]},{"id":"13cd4fc7.82644","type":"ui_led","z":0,"group":"866851ce.c73fb","order":9,"width":0,"height":0,"label":"Overload","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":1090,"y":840,"wires":[]},{"id":"98347825.e9d078","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":460,"wires":[]},{"id":"7bc8e9e0.e76ec8","type":"inject","z":0,"name":"","topic":"","payload":"0000101100100000011100000010010","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":660,"wires":[["ec3fa7d7.93d3d8","e6ae2a1f.e2c778"]]},{"id":"a7f44192.05d3f","type":"ui_ui_control","z":"a7812bab.95b4c8","name":"","events":"all","x":820,"y":80,"wires":[[]]},{"id":"fc14c5b4.4cdc48","type":"inject","z":"a7812bab.95b4c8","name":"","topic":"","payload":"{\"group\":{\"hide\":[\"Industrial_Internet_Of_Things_BOD0026\"],\"show\":[\"Industrial_Internet_Of_Things_Master\"]}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":470,"y":80,"wires":[["a7f44192.05d3f","7b9f24f9.e35dbc","2cdbfd41.630702"]]},{"id":"e9645765.2098b8","type":"ui_media","z":"a7812bab.95b4c8","group":"3157b8c7.b42148","name":"Master_IOL","width":10,"height":9,"order":2,"category":"Master_IOL","file":"Master BNI005H.PNG","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"Master_IOL","x":730,"y":280,"wires":[[]]},{"id":"212ec069.9b81b","type":"ui_text","z":"a7812bab.95b4c8","group":"31b2033b.08329c","order":8,"width":6,"height":1,"name":"","label":"BOD0026 - Sensor Ótico de Distância","format":"{{msg.payload}}","layout":"row-center","x":410,"y":320,"wires":[]},{"id":"35eafcb2.8c0544","type":"ui_text","z":"a7812bab.95b4c8","group":"31b2033b.08329c","order":13,"width":6,"height":1,"name":"","label":"DISPOSITIVO PORT 2","format":"{{msg.payload}}","layout":"row-center","x":360,"y":400,"wires":[]},{"id":"de1e6ef9.b77b","type":"ui_text","z":"a7812bab.95b4c8","group":"31b2033b.08329c","order":18,"width":6,"height":1,"name":"","label":"DISPOSITIVO PORT 4","format":"{{msg.payload}}","layout":"row-center","x":360,"y":480,"wires":[]},{"id":"3f7d3fa9.d4331","type":"ui_text","z":"a7812bab.95b4c8","group":"31b2033b.08329c","order":23,"width":6,"height":1,"name":"","label":"DISPOSITIVO PORT 6","format":"{{msg.payload}}","layout":"row-center","x":360,"y":560,"wires":[]},{"id":"7d8d293a.5e8478","type":"ui_text","z":"a7812bab.95b4c8","group":"bf667a2a.5588f8","order":6,"width":6,"height":1,"name":"","label":"DISPOSITIVO PORT 1","format":"{{msg.payload}}","layout":"row-center","x":1020,"y":300,"wires":[]},{"id":"a1877fc7.4d08e","type":"ui_text","z":"a7812bab.95b4c8","group":"bf667a2a.5588f8","order":11,"width":6,"height":1,"name":"","label":"DISPOSITIVO PORT 3","format":"{{msg.payload}}","layout":"row-center","x":1020,"y":380,"wires":[]},{"id":"7383a35f.9fb36c","type":"ui_text","z":"a7812bab.95b4c8","group":"bf667a2a.5588f8","order":16,"width":6,"height":1,"name":"","label":"DISPOSITIVO PORT 5","format":"{{msg.payload}}","layout":"row-center","x":1020,"y":460,"wires":[]},{"id":"12a53382.3066cc","type":"ui_text","z":"a7812bab.95b4c8","group":"bf667a2a.5588f8","order":21,"width":6,"height":1,"name":"","label":"DISPOSITIVO PORT 7","format":"{{msg.payload}}","layout":"row-center","x":1020,"y":540,"wires":[]},{"id":"8d6009d8.fff318","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"3157b8c7.b42148","order":4,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"black","icon":"","payload":"{}","payloadType":"json","topic":"","x":710,"y":320,"wires":[[]]},{"id":"59bd40.393782c","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"3157b8c7.b42148","order":1,"width":0,"height":0,"passthru":true,"label":"Master IO-Link","tooltip":"","color":"","bgcolor":"black","icon":"","payload":"{\"group\":{\"hide\":[\"Industrial_Internet_Of_Things_BOD0026\"],\"show\":[\"Industrial_Internet_Of_Things_Master\"]}}","payloadType":"json","topic":"","x":740,"y":240,"wires":[["a7f44192.05d3f"]]},{"id":"930d3a3c.d68348","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"31b2033b.08329c","order":5,"width":5,"height":1,"passthru":true,"label":"PORT 0","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"{\"group\":{\"show\":[\"\"],\"hide\":[\"\"]}}","payloadType":"json","topic":"","x":300,"y":280,"wires":[["a7f44192.05d3f"]]},{"id":"b8faca57.a30ee8","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"31b2033b.08329c","order":10,"width":5,"height":1,"passthru":false,"label":"PORT 2","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"{}","payloadType":"json","topic":"","x":320,"y":360,"wires":[[]]},{"id":"c00d5fd8.35677","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"31b2033b.08329c","order":15,"width":5,"height":1,"passthru":false,"label":"PORT 4","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"{}","payloadType":"json","topic":"","x":320,"y":440,"wires":[[]]},{"id":"563c0e5e.41131","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"31b2033b.08329c","order":20,"width":5,"height":1,"passthru":false,"label":"PORT 6","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"{}","payloadType":"json","topic":"","x":320,"y":520,"wires":[[]]},{"id":"23a5a76c.05d628","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"bf667a2a.5588f8","order":4,"width":5,"height":1,"passthru":false,"label":"PORT 1","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"{}","payloadType":"json","topic":"","x":980,"y":260,"wires":[[]]},{"id":"94e081c3.5d43e","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"bf667a2a.5588f8","order":9,"width":5,"height":1,"passthru":false,"label":"PORT 3","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"{}","payloadType":"json","topic":"","x":980,"y":340,"wires":[[]]},{"id":"19eb495e.427d97","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"bf667a2a.5588f8","order":14,"width":5,"height":1,"passthru":false,"label":"PORT 5","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"{}","payloadType":"json","topic":"","x":980,"y":420,"wires":[[]]},{"id":"b5130670.7bfdc8","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"bf667a2a.5588f8","order":19,"width":5,"height":1,"passthru":false,"label":"PORT 7","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"{}","payloadType":"json","topic":"","x":980,"y":500,"wires":[[]]},{"id":"fed8daa4.42aed8","type":"microphone","z":"9d7a0db9.eca96","name":"","x":190,"y":260,"wires":[[]]},{"id":"7bf52a61.01b1a4","type":"debug","z":"9d7a0db9.eca96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":260,"wires":[]},{"id":"dd3e54b0.4a8f98","type":"camera","z":"9d7a0db9.eca96","name":"","x":230,"y":480,"wires":[["b5d33226.7a6c1","583a15a7.e13d8c"]]},{"id":"b5d33226.7a6c1","type":"file","z":"9d7a0db9.eca96","name":"","filename":"C:\\Users\\gomesr\\Desktop\\teste.jpeg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":770,"y":480,"wires":[[]]},{"id":"39663ea3.dd7292","type":"debug","z":"9d7a0db9.eca96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"result","targetType":"msg","x":950,"y":600,"wires":[]},{"id":"d01ecab9.86e208","type":"http in","z":"9d7a0db9.eca96","name":"","url":"/renatovr","method":"get","upload":false,"swaggerDoc":"","x":230,"y":760,"wires":[["48025143.ada15"]]},{"id":"48025143.ada15","type":"switch","z":"9d7a0db9.eca96","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":344,"y":822,"wires":[["5ad0b586.3df40c"],["5a7f2692.011728"]]},{"id":"5ad0b586.3df40c","type":"template","z":"9d7a0db9.eca96","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Renato's Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Welcome to my Visual Recognition Demo - Analyze any image with this tool</h1>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"https://image.freepik.com/fotos-gratis/muitos-baloes-coloridos-no-ceu-azul-conceito-de-amor-no-verao-e-namorados-lua-de-mel-de-casamento-imagens-de-estilo-de-efeito-vintage_1253-1119.jpg\" height='200'/>\n    <img src=\"https://www.radiometropole.com.br/fotos/noticias/87815/IMAGEM_NOTICIA_3.jpg?v=76e3f37bcd61ecf\" height='200'/>\n    <img src=\"https://live.staticflickr.com/2379/2218733813_a5a400e16a_z.jpg\" height='200'/>\n    <img src=\"https://http2.mlstatic.com/lote-com-4-peixe-palhaco-ocelaris-com-brinde-marinho-D_NQ_NP_900038-MLB27109155440_032018-F.jpg\" height='200'/>\n    <img src=\"https://www1.folha.uol.com.br/folha/galeria/album/images/20040621-brizola-08.jpg\" height='200'/>\n    <br/>Drag and drop any of the images above into the text field or enter any image URL:<br/>\n    <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>\n</body>\n</html>","x":638,"y":791,"wires":[["d4040ba9.832de8"]]},{"id":"5a7f2692.011728","type":"change","z":"9d7a0db9.eca96","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":880,"wires":[["55a37094.d1351"]]},{"id":"d4040ba9.832de8","type":"http response","z":"9d7a0db9.eca96","name":"HTTP Response","x":888,"y":825,"wires":[]},{"id":"d13ef4be.b9fe18","type":"template","z":"9d7a0db9.eca96","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Node-RED Watson Visual Recognition Output</h1>\n<p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n<table border='1'>\n    <thead><tr><th>Name</th><th>Score</th></tr></thead>\n{{#result.images.0.classifiers.0.classes}}\n  <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/result.images.0.classifiers.0.classes}}\n</table>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>\n</body>\n</html>","x":733,"y":859,"wires":[["d4040ba9.832de8"]]},{"id":"7571cae1.20fce4","type":"function","z":"9d7a0db9.eca96","name":"get labels","func":"var labels = msg.result.images[0].classifiers[0].classes;\nmsg.payload = labels.map(function(i){\n   return i.class;\n});\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":935,"wires":[["4efba5d6.1a97bc"]]},{"id":"4efba5d6.1a97bc","type":"debug","z":"9d7a0db9.eca96","name":"","active":false,"tosidebar":true,"console":false,"complete":"payload","x":960,"y":909,"wires":[]},{"id":"f9e8069.1a468f8","type":"comment","z":"9d7a0db9.eca96","name":"Texto to speech","info":"\n","x":160,"y":60,"wires":[]},{"id":"d838ad32.e317c","type":"ui_text_input","z":"9d7a0db9.eca96","name":"Input text to speech","label":"Type an english text here...","tooltip":"my assistant will speech to you, but she only talks in english :)","group":"d70808c4.7d7328","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":370,"y":100,"wires":[["f030545e.3a4628"]]},{"id":"f64de643.e0f408","type":"comment","z":"9d7a0db9.eca96","name":"Speech to text","info":"\n","x":130,"y":200,"wires":[]},{"id":"da31b5e8.afa178","type":"comment","z":"9d7a0db9.eca96","name":"Take a picture, save and analyze it","info":"\n","x":200,"y":400,"wires":[]},{"id":"6c511280.ee5d2c","type":"comment","z":"9d7a0db9.eca96","name":"Visual recognition URL","info":"\n","x":180,"y":700,"wires":[]},{"id":"9623f040.eff41","type":"ui_button","z":"9d7a0db9.eca96","name":"","group":"80622b31.cf6fc8","order":7,"width":0,"height":0,"passthru":false,"label":"About","tooltip":"","color":"","bgcolor":"","icon":"info","payload":"","payloadType":"str","topic":"","x":370,"y":1080,"wires":[["34458143.2aa6fe"]]},{"id":"3494df3.745b02","type":"ui_toast","z":"9d7a0db9.eca96","position":"dialog","displayTime":"6","highlight":"red","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":790,"y":1080,"wires":[[]]},{"id":"34458143.2aa6fe","type":"template","z":"9d7a0db9.eca96","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<p style=\"text-align:center\">This is a project based on Node-red by Renato Gomes</p>\n<p style=\"text-align:center\"><a href=\"https://www.linkedin.com/in/renatoclg/\"  target=\"_blank\" style=\"color:white;font-size:100%\">contact me</a></p>","output":"str","x":620,"y":1080,"wires":[["3494df3.745b02"]]},{"id":"e1430dac.be721","type":"comment","z":"9d7a0db9.eca96","name":"Open a popup window w/ a clickable link","info":"\n","x":260,"y":1020,"wires":[]},{"id":"f00d3e4a.27a2f","type":"ui_template","z":"9d7a0db9.eca96","group":"fc7375d2.8cd908","name":"Visual Recognition Link","order":4,"width":0,"height":0,"format":"<div>\n    <a href=\"http://127.0.0.1:1880/renatovr\"><span>Renato's Visual Recognition Area</span></a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":510,"y":1240,"wires":[[]]},{"id":"bde60159.928e4","type":"comment","z":"9d7a0db9.eca96","name":"Insert a link to a group on dashboard","info":"\n","x":240,"y":1180,"wires":[]},{"id":"976a89b5.6bb668","type":"comment","z":"9d7a0db9.eca96","name":"Show / hide groups according to the function","info":"\n","x":270,"y":1380,"wires":[]},{"id":"a2e28511.394ea8","type":"ui_ui_control","z":"9d7a0db9.eca96","name":"","events":"all","x":800,"y":1440,"wires":[[]]},{"id":"1c745c54.dc1fd4","type":"function","z":"9d7a0db9.eca96","name":"","func":"if (msg.payload = (\"Valdivia\")){\n    msg.payload = {\n    \"group\": {\n        \"show\": [\n            \"Home_Grupo03\"\n        ],\n        \"hide\": [\n            \"Home_Grupo02\"\n            ]\n    }\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1420,"wires":[["a2e28511.394ea8"]]},{"id":"d1855cde.56304","type":"inject","z":"9d7a0db9.eca96","name":"","topic":"","payload":"restart","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":1520,"wires":[["64dbcd52.f07a54"]]},{"id":"64dbcd52.f07a54","type":"function","z":"9d7a0db9.eca96","name":"","func":"if (msg.payload = (\"restart\")){\n    msg.payload = {\n    \"group\": {\n        \"show\": [\n            \"Home_Grupo02\"\n        ],\n        \"hide\": [\n            \"Home_Grupo03\"\n            ]\n    }\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1500,"wires":[["a2e28511.394ea8"]]},{"id":"58584dda.b4b574","type":"ui_template","z":"9d7a0db9.eca96","group":"d70808c4.7d7328","name":"Clock Toolbar","order":4,"width":0,"height":0,"format":"<script id=\"titleScript\" type=\"text/javascript\">\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    $('#titleScript').parent().hide();\n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleTimeString('de-AT'));\n    }\n\n    \n\n    // Watch the payload and update the title\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            displayTitle(data);\n        });\n        setInterval(upTime,1000);\n    })(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":380,"y":1680,"wires":[[]]},{"id":"877d4d78.762a","type":"comment","z":"9d7a0db9.eca96","name":"Put a clock on the toolbar","info":"\n","x":210,"y":1620,"wires":[]},{"id":"f030545e.3a4628","type":"ui_audio","z":"9d7a0db9.eca96","name":"Output Text to Speech","group":"d70808c4.7d7328","voice":"en-US","always":"","x":800,"y":100,"wires":[]},{"id":"763e2c03.6fdf34","type":"ui_text","z":"9d7a0db9.eca96","group":"fc7375d2.8cd908","order":3,"width":0,"height":0,"name":"Visual Recognition Area","label":"Do you want to test my Visual Recognition tool? If so, click on the link.","format":"{{msg.payload}}","layout":"row-spread","x":250,"y":1240,"wires":[]},{"id":"d6485aa0.b67b68","type":"comment","z":"1c09e3cd.60cb0c","name":"Graphics monitoring","info":"","x":170,"y":680,"wires":[]},{"id":"6ac7e995.f8d688","type":"ui_level","z":"1c09e3cd.60cb0c","group":"e98ddaae.efaab8","order":3,"width":0,"height":0,"name":"Machine Temperature","label":"Temperature","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"80","segWarn":"35","segHigh":"55","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"3","colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":520,"y":740,"wires":[]},{"id":"eb22e4af.6ef098","type":"ui_slider","z":"1c09e3cd.60cb0c","name":"temperature simulator","label":"Sensor simulator","tooltip":"simulate a machine temperature","group":"e98ddaae.efaab8","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"80","step":1,"x":200,"y":740,"wires":[["6ac7e995.f8d688","664c7768.17c7b8"]]},{"id":"7ffab0d.2dce45","type":"ui_slider","z":"1c09e3cd.60cb0c","name":"speed vibration simulator","label":"Sensor simulator","tooltip":"simulate a % of speed vibration for the machine","group":"9e0c5462.e6d6d8","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":210,"y":850,"wires":[["a74a5097.87886","8ce69459.1998c8"]]},{"id":"a74a5097.87886","type":"ui_gauge","z":"1c09e3cd.60cb0c","name":"Machine Speed Vibration","group":"9e0c5462.e6d6d8","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed Vibration","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":510,"y":850,"wires":[]},{"id":"8ce69459.1998c8","type":"ui_chart","z":"1c09e3cd.60cb0c","name":"Historical Data - Speed Vibration","group":"9e0c5462.e6d6d8","order":6,"width":0,"height":0,"label":"Historical Data - Speed Vibration","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data from the sensor","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":910,"wires":[[]]},{"id":"ddb4dbec.5260c8","type":"ui_gauge","z":"1c09e3cd.60cb0c","name":"Relative Humidity","group":"ebb0d64d.181538","order":1,"width":0,"height":0,"gtype":"wave","title":"Relative Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":1000,"wires":[]},{"id":"90c5c383.9e839","type":"ui_slider","z":"1c09e3cd.60cb0c","name":"relative humidity simulator","label":"Sensor simulator","tooltip":"simulate a % of relative humidity for the machine's ambient","group":"ebb0d64d.181538","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":210,"y":1000,"wires":[["ddb4dbec.5260c8","4536d411.4a9eec"]]},{"id":"4536d411.4a9eec","type":"ui_chart","z":"1c09e3cd.60cb0c","name":"Historical Data - Relative Humidity","group":"ebb0d64d.181538","order":4,"width":0,"height":0,"label":"Historical Data - Relative Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data from the sensor","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":540,"y":1060,"wires":[[]]},{"id":"664c7768.17c7b8","type":"ui_chart","z":"1c09e3cd.60cb0c","name":"Historical Data - Temperature","group":"e98ddaae.efaab8","order":5,"width":0,"height":0,"label":"Historical Data -Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data from the sensor","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":540,"y":780,"wires":[[]]},{"id":"246fa80f.05c608","type":"ui_text","z":"5db6df11.b056a","group":"80622b31.cf6fc8","order":1,"width":0,"height":0,"name":"","label":"What is this dashboard showing?","format":"This dashboard demonstrate how a machine can be monitored from the factory floor to the cloud.","layout":"col-center","x":240,"y":100,"wires":[]},{"id":"ac9947dd.c8da08","type":"ui_text","z":"5db6df11.b056a","group":"80622b31.cf6fc8","order":3,"width":0,"height":0,"name":"","label":"How does it works?","format":"Here we have real sensors values when the system is live. If the system is off, it's possible to simulate the sensor values.","layout":"col-center","x":190,"y":140,"wires":[]},{"id":"e9c740c2.7a0f4","type":"ui_text","z":"5db6df11.b056a","group":"80622b31.cf6fc8","order":5,"width":0,"height":0,"name":"","label":"When will this system go live?","format":"The system usually go live once per week, when I'm doing presentations for customers.","layout":"col-center","x":230,"y":180,"wires":[]},{"id":"b431bde3.2aff1","type":"comment","z":"9d7a0db9.eca96","name":"Analyze your mood","info":"\n","x":190,"y":1780,"wires":[]},{"id":"7cedce44.dd32e","type":"ui_text_input","z":"9d7a0db9.eca96","name":"Mood analyzer","label":"How is your day? It will score your mood in a scale from -5 to 5.","tooltip":"Type some words about your day, this tool will analyze your mood based on that.","group":"ff1a7ea4.c4c3d","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":220,"y":1840,"wires":[["91629651.5744c8"]]},{"id":"c5fb571d.c72898","type":"debug","z":"9d7a0db9.eca96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":1780,"wires":[]},{"id":"91629651.5744c8","type":"sentiment","z":"9d7a0db9.eca96","name":"","property":"payload","x":440,"y":1900,"wires":[["fe4478a2.5b52b8"]]},{"id":"3e0a72d5.e9296e","type":"ui_level","z":"9d7a0db9.eca96","group":"ff1a7ea4.c4c3d","order":2,"width":0,"height":0,"name":"Mood result","label":"Mood","colorHi":"#00ff00","colorWarn":"#ffff00","colorNormal":"#ff0000","colorOff":"#595959","min":"-5","max":"5","segWarn":"-2","segHigh":"0","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"3","colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":790,"y":1900,"wires":[]},{"id":"fe4478a2.5b52b8","type":"function","z":"9d7a0db9.eca96","name":"","func":"msg.payload = msg.sentiment.score\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1900,"wires":[["3e0a72d5.e9296e","c5fb571d.c72898"]]},{"id":"b0866ce1.df86a","type":"debug","z":"9d7a0db9.eca96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1980,"wires":[]},{"id":"5090f03d.54f57","type":"ui_text","z":"9d7a0db9.eca96","group":"ff1a7ea4.c4c3d","order":3,"width":11,"height":2,"name":"","label":"text","format":"{{msg.response.document_tone.tone_categories[0].tones}}","layout":"row-spread","x":770,"y":1840,"wires":[]},{"id":"101ac7e1.083b78","type":"ui_led","z":"1c09e3cd.60cb0c","group":"ac4f41cc.d4e45","order":1,"width":0,"height":0,"label":"Online status:","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":370,"y":1180,"wires":[]},{"id":"4e53c01e.655b4","type":"inject","z":"1c09e3cd.60cb0c","name":"Online","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1160,"wires":[["101ac7e1.083b78"]]},{"id":"3e945ec2.7c57b2","type":"inject","z":"1c09e3cd.60cb0c","name":"Offline","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1200,"wires":[["101ac7e1.083b78"]]},{"id":"e8b60fd.8b012f","type":"ui_text","z":"1c09e3cd.60cb0c","group":"ac4f41cc.d4e45","order":2,"width":"0","height":"0","name":"","label":"Connected Sensors:","format":"{{msg.payload}}","layout":"row-left","x":420,"y":1260,"wires":[]},{"id":"26f0762e.b7afba","type":"comment","z":"1c09e3cd.60cb0c","name":"System Status","info":"","x":170,"y":1080,"wires":[]},{"id":"bf46e32e.bc7cb","type":"inject","z":"1c09e3cd.60cb0c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["583f8983.ba6158"]]},{"id":"583f8983.ba6158","type":"http request","z":"1c09e3cd.60cb0c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.0.2/dprop.jsn","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":180,"wires":[["a2b6a65e.8bfbd8"]]},{"id":"de78d872.250a08","type":"switch","z":"1c09e3cd.60cb0c","name":"Condition switching","property":"write","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":540,"wires":[["1b2f29a6.5eb106"],["53d961ab.e90d3"]]},{"id":"53d961ab.e90d3","type":"debug","z":"1c09e3cd.60cb0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":560,"wires":[]},{"id":"a2b6a65e.8bfbd8","type":"function","z":"1c09e3cd.60cb0c","name":"","func":"bodval = (msg.payload[0].processInputs).replace(/\\s/g,''); // removing spaces\nmsg.payload = parseInt(bodval.slice(2,6), 16);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["d1df5a1.573d9a8","6b251b35.2a2394"]]},{"id":"6b251b35.2a2394","type":"function","z":"1c09e3cd.60cb0c","name":"","func":"if (msg.payload <= 6000) {\n    time = new Date();\n    msg.payload = {Value: msg.payload, Time: time.toString()};\n    msg.write = 1;\n} else {\n    msg.payload = msg.payload;\n    msg.write = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":540,"wires":[["de78d872.250a08"]]},{"id":"1b2f29a6.5eb106","type":"excel","z":"1c09e3cd.60cb0c","name":"","file":"C:\\Users\\gomesr\\Desktop\\Datalog.xlsx","x":710,"y":500,"wires":[["c6009f6c.4f2b5"]]},{"id":"c6009f6c.4f2b5","type":"debug","z":"1c09e3cd.60cb0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":500,"wires":[]},{"id":"d1df5a1.573d9a8","type":"ui_chart","z":"1c09e3cd.60cb0c","name":"Distance sensor","group":"7f6fcad6.794914","order":2,"width":"6","height":"10","label":"Distance in mm","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data from the sensor","dot":false,"ymin":"0","ymax":"6000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":680,"y":380,"wires":[[]]},{"id":"1f5fd9a9.664df6","type":"ui_switch","z":"1c09e3cd.60cb0c","name":"","label":"Upload data to the cloud","tooltip":"Send data from the IO-Link master to the IBM cloud","group":"ac4f41cc.d4e45","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":120,"wires":[["583f8983.ba6158"]]},{"id":"4862aeb4.f8b48","type":"comment","z":"1c09e3cd.60cb0c","name":"Get data from IO-Link master","info":"","x":200,"y":80,"wires":[]},{"id":"43a3b029.fa35c","type":"comment","z":"1c09e3cd.60cb0c","name":"Save BOD values whithin the range","info":"","x":200,"y":480,"wires":[]},{"id":"8d79910d.e39b3","type":"comment","z":"1c09e3cd.60cb0c","name":"Get data from IO-Link master","info":"","x":180,"y":260,"wires":[]},{"id":"c1b5881f.1de758","type":"ui_slider","z":"1c09e3cd.60cb0c","name":"Distance sensor simulator","label":"Sensor simulator","tooltip":"Siumlate a distance range 0 - 6000 mm","group":"7f6fcad6.794914","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"-100","max":"6100","step":"10","x":170,"y":380,"wires":[["d1df5a1.573d9a8"]]},{"id":"de059b25.b54328","type":"watson-tone-analyzer-v3","z":"9d7a0db9.eca96","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","service-endpoint":"https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/3d6f3ecb-0301-43df-95f8-040b3315ba20","x":440,"y":1840,"wires":[["b0866ce1.df86a","5090f03d.54f57"]]},{"id":"55a37094.d1351","type":"visual-recognition-v3","z":"9d7a0db9.eca96","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/6096cd8b-f118-4c11-9a2e-b4e82943b488","image-feature":"classifyImage","lang":"en","x":612.5,"y":931.5,"wires":[["7571cae1.20fce4","d13ef4be.b9fe18"]]},{"id":"583a15a7.e13d8c","type":"visual-recognition-v3","z":"9d7a0db9.eca96","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/6096cd8b-f118-4c11-9a2e-b4e82943b488","image-feature":"classifyImage","lang":"en","x":430,"y":600,"wires":[["39663ea3.dd7292"]]},{"id":"5f0a4ca5.c75444","type":"watson-speech-to-text","z":"9d7a0db9.eca96","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"d6tfME5Ln4YmCKMFMvgiGRLbqj_GEGMG5d-iUpXhaLOB","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/dbc44fa1-e770-4112-8bb0-2b85cf0aaff8","x":500,"y":260,"wires":[["7bf52a61.01b1a4"]]},{"id":"7b9f24f9.e35dbc","type":"trigger","z":"a7812bab.95b4c8","op1":"-","op2":"Balluff Industrial Internet Of Things","op1type":"str","op2type":"str","duration":"2000","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":640,"y":40,"wires":[["f7480da7.c3a74"]]},{"id":"f7480da7.c3a74","type":"ui_audio","z":"a7812bab.95b4c8","name":"","group":"31b2033b.08329c","voice":"en-US","always":"","x":820,"y":40,"wires":[]},{"id":"2f45e547.f5ceaa","type":"ui_led","z":"a7812bab.95b4c8","group":"31b2033b.08329c","order":6,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":450,"y":280,"wires":[]},{"id":"bb393ec6.ae3b1","type":"ui_led","z":"a7812bab.95b4c8","group":"31b2033b.08329c","order":11,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":450,"y":360,"wires":[]},{"id":"bb832260.43e47","type":"ui_led","z":"a7812bab.95b4c8","group":"31b2033b.08329c","order":16,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":450,"y":440,"wires":[]},{"id":"ed844bda.8f2a18","type":"ui_led","z":"a7812bab.95b4c8","group":"31b2033b.08329c","order":21,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":450,"y":520,"wires":[]},{"id":"62690069.7a1ca","type":"ui_led","z":"a7812bab.95b4c8","group":"bf667a2a.5588f8","order":3,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":1110,"y":260,"wires":[]},{"id":"c27bee9b.6b499","type":"ui_led","z":"a7812bab.95b4c8","group":"bf667a2a.5588f8","order":18,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":1110,"y":340,"wires":[]},{"id":"63a49188.08ba","type":"ui_led","z":"a7812bab.95b4c8","group":"bf667a2a.5588f8","order":13,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":1110,"y":420,"wires":[]},{"id":"eeb98a9e.de9158","type":"ui_led","z":"a7812bab.95b4c8","group":"bf667a2a.5588f8","order":8,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"white","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":1110,"y":500,"wires":[]},{"id":"7ac20df0.43de74","type":"inject","z":"a7812bab.95b4c8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":300,"wires":[["62690069.7a1ca","2f45e547.f5ceaa","bb393ec6.ae3b1","c27bee9b.6b499","63a49188.08ba","bb832260.43e47","ed844bda.8f2a18","eeb98a9e.de9158"]]},{"id":"3c5c6d51.12e392","type":"inject","z":"a7812bab.95b4c8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["2f45e547.f5ceaa","bb832260.43e47","63a49188.08ba"]]},{"id":"b42341e5.c5e0f","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"bf667a2a.5588f8","order":24,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"black","icon":"","payload":"{}","payloadType":"json","topic":"","x":970,"y":580,"wires":[[]]},{"id":"38bf0b62.480874","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"bf667a2a.5588f8","order":1,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"black","icon":"","payload":"{}","payloadType":"json","topic":"","x":970,"y":220,"wires":[[]]},{"id":"2cdbfd41.630702","type":"ui_template","z":"a7812bab.95b4c8","group":"","name":"Logo / Clock","order":0,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n   \n        \n        //add logo\n        var div3 = $('<div/>');\n        var logo2 = new Image();\n\n        logo2.src = 'https://balluffbrasil.com.br/wp-content/uploads/2020/03/balluff.jpg'\n        logo2.height = 68;\n        div3[0].style.margin = '10px auto';\n\n        div3.append(logo2);\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '5px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div3);\n            toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":810,"y":140,"wires":[[]]},{"id":"e59fd7e4.10b818","type":"ui_text_input","z":"a7812bab.95b4c8","name":"","label":"Digite o endereço IP do Master","tooltip":"Entre aqui com o IP do Master IO-Link","group":"31b2033b.08329c","order":1,"width":6,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":390,"y":240,"wires":[[]]},{"id":"93baa0b6.6a227","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"31b2033b.08329c","order":2,"width":"1","height":"1","passthru":false,"label":"G o !","tooltip":"","color":"white","bgcolor":"grey","icon":"","payload":"","payloadType":"str","topic":"","x":570,"y":240,"wires":[[]]},{"id":"fe03c510.4f0f18","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"31b2033b.08329c","order":25,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"black","icon":"","payload":"{}","payloadType":"json","topic":"","x":310,"y":600,"wires":[[]]},{"id":"b2279dbf.8b765","type":"comment","z":"a7812bab.95b4c8","name":"PÁGINA - BCM","info":"","x":1280,"y":20,"wires":[]},{"id":"2325aede.e07ae2","type":"ui_level","z":"a7812bab.95b4c8","group":"3956f3dd.90821c","order":2,"width":0,"height":0,"name":"Machine Temperature","label":"","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"80","segWarn":"35","segHigh":"55","unit":"°C","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"3","colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":1460,"y":80,"wires":[]},{"id":"cae3aab7.f8bf08","type":"ui_gauge","z":"a7812bab.95b4c8","name":"Machine Speed Vibration","group":"b10dcb98.8611d8","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":1470,"y":160,"wires":[]},{"id":"9eeaeaee.ba49b8","type":"ui_chart","z":"a7812bab.95b4c8","name":"Historical Data","group":"b10dcb98.8611d8","order":3,"width":0,"height":0,"label":"Historical Data ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data from the sensor","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1440,"y":200,"wires":[[]]},{"id":"118c228b.f905bd","type":"ui_gauge","z":"a7812bab.95b4c8","name":"Relative Humidity","group":"8341a213.181b2","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1450,"y":240,"wires":[]},{"id":"53c62db9.ed7ea4","type":"ui_chart","z":"a7812bab.95b4c8","name":"Historical Data","group":"8341a213.181b2","order":2,"width":0,"height":0,"label":"Historical Data ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data from the sensor","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1440,"y":280,"wires":[[]]},{"id":"a0f781c5.da68","type":"ui_chart","z":"a7812bab.95b4c8","name":"Historical Data","group":"3956f3dd.90821c","order":3,"width":0,"height":0,"label":"Historical Data","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data from the sensor","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1440,"y":120,"wires":[[]]},{"id":"42435b63.a2d9f4","type":"comment","z":"a7812bab.95b4c8","name":"PÁGINA - BNI005W","info":"","x":1890,"y":20,"wires":[]},{"id":"bea4bfa0.d668c","type":"inject","z":"a7812bab.95b4c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1890,"y":60,"wires":[["4f49bd8b.4cdef4"]]},{"id":"4f49bd8b.4cdef4","type":"http request","z":"a7812bab.95b4c8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.0.5/ports.jsn","tls":"","persist":false,"proxy":"","authType":"","x":2070,"y":60,"wires":[["ecb26c3a.d17b7"]]},{"id":"ecb26c3a.d17b7","type":"function","z":"a7812bab.95b4c8","name":"Port 0","func":"msg.payload = msg.payload.ports[0]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":60,"wires":[["8fe3ccf1.89517"]]},{"id":"d71ed2e9.f3866","type":"ui_media","z":"a7812bab.95b4c8","group":"7b447b8a.205cb4","name":"BNI005W","width":7,"height":6,"order":2,"category":"BNI005W","file":"BNI005W.PNG","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"BNI005W","x":2780,"y":360,"wires":[[]]},{"id":"a47bf140.0a282","type":"ui_text","z":"a7812bab.95b4c8","group":"bc7ad18.3a8643","order":5,"width":2,"height":1,"name":"","label":"PORT 0","format":"{{msg.payload}}","layout":"row-right","x":2380,"y":360,"wires":[]},{"id":"b0bb7788.0c2018","type":"ui_text","z":"a7812bab.95b4c8","group":"bc7ad18.3a8643","order":8,"width":2,"height":1,"name":"","label":"PORT 2","format":"{{msg.payload}}","layout":"row-right","x":2380,"y":400,"wires":[]},{"id":"7b5ea0df.c0f9b","type":"ui_text","z":"a7812bab.95b4c8","group":"bc7ad18.3a8643","order":11,"width":2,"height":1,"name":"","label":"PORT 4","format":"{{msg.payload}}","layout":"row-right","x":2380,"y":440,"wires":[]},{"id":"fd198a6d.fb5828","type":"ui_text","z":"a7812bab.95b4c8","group":"bc7ad18.3a8643","order":14,"width":2,"height":1,"name":"","label":"PORT 6","format":"{{msg.payload}}","layout":"row-right","x":2380,"y":480,"wires":[]},{"id":"4848679c.d5d3f8","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"7b447b8a.205cb4","order":3,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"black","icon":"","payload":"{}","payloadType":"json","topic":"","x":2770,"y":400,"wires":[[]]},{"id":"7952df98.8d7ec","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"7b447b8a.205cb4","order":1,"width":7,"height":1,"passthru":true,"label":"BNI005W","tooltip":"","color":"","bgcolor":"black","icon":"","payload":"","payloadType":"num","topic":"","x":2780,"y":320,"wires":[[]]},{"id":"10123843.011f68","type":"ui_led","z":"a7812bab.95b4c8","group":"bc7ad18.3a8643","order":6,"width":2,"height":1,"label":"","labelPlacement":"right","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2510,"y":360,"wires":[]},{"id":"9e14bbef.0abc68","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"bc7ad18.3a8643","order":1,"width":6,"height":1,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"GREY","icon":"","payload":"","payloadType":"str","topic":"","x":2370,"y":320,"wires":[[]]},{"id":"5dfdc1a8.980c9","type":"ui_led","z":"a7812bab.95b4c8","group":"bc7ad18.3a8643","order":7,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"green","value":"1","valueType":"str"},{"color":"grey","value":"0","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2630,"y":360,"wires":[]},{"id":"86f2e48a.b10b58","type":"ui_text","z":"a7812bab.95b4c8","group":"bc7ad18.3a8643","order":3,"width":2,"height":1,"name":"","label":"PIN 2","format":"{{msg.payload}}","layout":"row-left","x":2510,"y":320,"wires":[]},{"id":"aaf80ce4.4390c","type":"ui_text","z":"a7812bab.95b4c8","group":"bc7ad18.3a8643","order":4,"width":2,"height":1,"name":"","label":"PIN 4","format":"{{msg.payload}}","layout":"row-left","x":2630,"y":320,"wires":[]},{"id":"a664d515.35f1c8","type":"ui_led","z":"a7812bab.95b4c8","group":"bc7ad18.3a8643","order":9,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2510,"y":400,"wires":[]},{"id":"104e8e3a.9454c2","type":"ui_led","z":"a7812bab.95b4c8","group":"bc7ad18.3a8643","order":10,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2630,"y":400,"wires":[]},{"id":"bb3ea41a.6e0998","type":"ui_led","z":"a7812bab.95b4c8","group":"bc7ad18.3a8643","order":12,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2510,"y":440,"wires":[]},{"id":"584e73e7.23ca2c","type":"ui_led","z":"a7812bab.95b4c8","group":"bc7ad18.3a8643","order":13,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2630,"y":440,"wires":[]},{"id":"8c00d4df.54e438","type":"ui_led","z":"a7812bab.95b4c8","group":"bc7ad18.3a8643","order":15,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2510,"y":480,"wires":[]},{"id":"f76d6646.4fe988","type":"ui_led","z":"a7812bab.95b4c8","group":"bc7ad18.3a8643","order":16,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2630,"y":480,"wires":[]},{"id":"1a9c3ec4.c8c761","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"bc7ad18.3a8643","order":18,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"black","icon":"","payload":"{}","payloadType":"json","topic":"","x":2370,"y":520,"wires":[[]]},{"id":"1bf76dec.f08fb2","type":"ui_text","z":"a7812bab.95b4c8","group":"4af7b158.82c3","order":7,"width":2,"height":1,"name":"","label":"PORT 1","format":"{{msg.payload}}","layout":"row-left","x":2960,"y":360,"wires":[]},{"id":"a5682b48.618978","type":"ui_text","z":"a7812bab.95b4c8","group":"4af7b158.82c3","order":10,"width":2,"height":1,"name":"","label":"PORT 3","format":"{{msg.payload}}","layout":"row-left","x":2960,"y":400,"wires":[]},{"id":"11705760.cd2cd9","type":"ui_text","z":"a7812bab.95b4c8","group":"4af7b158.82c3","order":13,"width":2,"height":1,"name":"","label":"PORT 5","format":"{{msg.payload}}","layout":"row-left","x":2960,"y":440,"wires":[]},{"id":"181f1d58.f65763","type":"ui_text","z":"a7812bab.95b4c8","group":"4af7b158.82c3","order":16,"width":2,"height":1,"name":"","label":"PORT 7","format":"{{msg.payload}}","layout":"row-left","x":2960,"y":480,"wires":[]},{"id":"a494f55c.52e2d8","type":"ui_led","z":"a7812bab.95b4c8","group":"4af7b158.82c3","order":5,"width":2,"height":1,"label":"","labelPlacement":"right","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3090,"y":360,"wires":[]},{"id":"6b5933b0.39b24c","type":"ui_text","z":"a7812bab.95b4c8","group":"4af7b158.82c3","order":2,"width":2,"height":1,"name":"","label":"PIN 2","format":"{{msg.payload}}","layout":"row-left","x":3070,"y":320,"wires":[]},{"id":"6d19bb46.3b1ad4","type":"ui_text","z":"a7812bab.95b4c8","group":"4af7b158.82c3","order":3,"width":2,"height":1,"name":"","label":"PIN 4","format":"{{msg.payload}}","layout":"row-spread","x":3190,"y":320,"wires":[]},{"id":"bde51777.8d5428","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"4af7b158.82c3","order":1,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"black","bgcolor":"black","icon":"","payload":"{}","payloadType":"json","topic":"","x":2950,"y":520,"wires":[[]]},{"id":"9ca7f899.19d1f8","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"4af7b158.82c3","order":18,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"White","bgcolor":"black","icon":"","payload":"","payloadType":"num","topic":"","x":2950,"y":320,"wires":[[]]},{"id":"7f8ba4e.6c9185c","type":"ui_led","z":"a7812bab.95b4c8","group":"4af7b158.82c3","order":6,"width":2,"height":1,"label":"","labelPlacement":"right","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3210,"y":360,"wires":[]},{"id":"1af13f04.416fb1","type":"ui_led","z":"a7812bab.95b4c8","group":"4af7b158.82c3","order":8,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3090,"y":400,"wires":[]},{"id":"2f20ea65.23a266","type":"ui_led","z":"a7812bab.95b4c8","group":"4af7b158.82c3","order":9,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3210,"y":400,"wires":[]},{"id":"3ddd6210.db7dbe","type":"ui_led","z":"a7812bab.95b4c8","group":"4af7b158.82c3","order":11,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3090,"y":440,"wires":[]},{"id":"1097a005.c3aa6","type":"ui_led","z":"a7812bab.95b4c8","group":"4af7b158.82c3","order":12,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3210,"y":440,"wires":[]},{"id":"8d1b8141.15906","type":"ui_led","z":"a7812bab.95b4c8","group":"4af7b158.82c3","order":14,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3090,"y":480,"wires":[]},{"id":"3fa833d.e9deacc","type":"ui_led","z":"a7812bab.95b4c8","group":"4af7b158.82c3","order":15,"width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":3210,"y":480,"wires":[]},{"id":"d29af08.84aa61","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"84dd02b0.30a9f","order":1,"width":0,"height":0,"passthru":true,"label":"DIAGNÓSTICOS","tooltip":"","color":"","bgcolor":"black","icon":"","payload":"","payloadType":"num","topic":"","x":2650,"y":820,"wires":[[]]},{"id":"29364c50.a197e4","type":"ui_text","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":2,"width":3,"height":1,"name":"","label":"FALHA PORT 0","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":860,"wires":[]},{"id":"712466ab.060b58","type":"ui_text","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":5,"width":3,"height":1,"name":"","label":"FALHA PORT 1","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":900,"wires":[]},{"id":"28c686e2.80399a","type":"ui_text","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":8,"width":3,"height":1,"name":"","label":"FALHA PORT 2","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":940,"wires":[]},{"id":"85e5a7b8.88f068","type":"ui_text","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":11,"width":3,"height":1,"name":"","label":"FALHA PORT 3","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":980,"wires":[]},{"id":"8254925f.6d76d","type":"ui_text","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":14,"width":3,"height":1,"name":"","label":"FALHA PORT 4","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":1020,"wires":[]},{"id":"af486d52.436e2","type":"ui_text","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":17,"width":3,"height":1,"name":"","label":"FALHA PORT 5","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":1060,"wires":[]},{"id":"663f057.f7cfffc","type":"ui_text","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":20,"width":3,"height":1,"name":"","label":"FALHA PORT 6","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":1100,"wires":[]},{"id":"524651f7.88ea7","type":"ui_led","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":3,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":860,"wires":[]},{"id":"9aaf299d.7a9548","type":"ui_led","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":6,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":900,"wires":[]},{"id":"5fde0d2f.0e4414","type":"ui_led","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":9,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":940,"wires":[]},{"id":"a0df39f.ef5d0c8","type":"ui_led","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":12,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":980,"wires":[]},{"id":"74a9d843.7f6e58","type":"ui_led","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":15,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":1020,"wires":[]},{"id":"1b5a32cc.e0f27d","type":"ui_led","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":18,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":1060,"wires":[]},{"id":"1eb5ece3.6dad33","type":"ui_led","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":21,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":1100,"wires":[]},{"id":"670f00c6.5aa93","type":"ui_led","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":24,"width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":2790,"y":1140,"wires":[]},{"id":"bcffe58a.cd6ae8","type":"ui_button","z":"a7812bab.95b4c8","name":"","group":"84dd02b0.30a9f","order":25,"width":0,"height":0,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"black","icon":"","payload":"","payloadType":"num","topic":"","x":2610,"y":1180,"wires":[[]]},{"id":"7383bb51.72e3d4","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload = msg.payload.toString(2);\nreturn msg;","outputs":1,"noerr":0,"x":2030,"y":520,"wires":[[]]},{"id":"84ec9697.9c7338","type":"function","z":"a7812bab.95b4c8","name":"Port 1","func":"AJval1 = (msg.payload.ports[1].processInputs).replace(/\\s/g,''); // removing spaces\nmsg.payload = parseInt(AJval1.slice(0,8), 16);\nreturn msg;","outputs":1,"noerr":0,"x":2490,"y":140,"wires":[[]]},{"id":"8fe3ccf1.89517","type":"function","z":"a7812bab.95b4c8","name":"Hex to Bin","func":"var output1 = {}; //define output\nvar output2 = {}; //define output\nvar output3 = {}; //define output\nvar hex = (msg.payload.processInputs).replace(/ /g, \"\");\nvar dec = parseInt(hex,16);\n//no leading zeroeswith this method\n//var bit = parseInt(hex,16).toString(2);\nvar bit\nfunction hexToBinary(s) {\nvar i, k, part, ret = '';\n// lookup table for easier conversion. '0' characters are padded for '1' to '7'\nvar lookupTable = {\n'0': '0000', '1': '0001', '2': '0010', '3': '0011', '4': '0100',\n'5': '0101', '6': '0110', '7': '0111', '8': '1000', '9': '1001',\n'a': '1010', 'b': '1011', 'c': '1100', 'd': '1101',\n'e': '1110', 'f': '1111',\n'A': '1010', 'B': '1011', 'C': '1100', 'D': '1101',\n'E': '1110', 'F': '1111'\n};\nfor (i = 0; i < s.length; i += 1) {\nif (lookupTable.hasOwnProperty(s[i])) {\nret += lookupTable[s[i]];\n} else {\nreturn { valid: false };\n}\n}\nreturn { valid: true, result: ret };\n}\nbit=hexToBinary(hex);\noutput1.payload=hex;\noutput2.payload=dec;\noutput3.payload=bit.result;\nreturn [output1,output2,output3];","outputs":3,"noerr":0,"x":2070,"y":140,"wires":[[],[],["cf39e388.9e3eb","6910dc54.2c9604","37d02d24.bab3b2","f5cbd161.d0c8c","1d3f2f2d.292151","17485a00.625f36","f38e00b.8feee","25b7da7c.692786","c6abe7d8.82e5d8","b0e550a8.41542","f0c6ef0d.2","71dadc64.80ace4","6249f7c7.48be78","31f9c645.a3ce9a","d82cd517.616da8","2d45b789.f45a48"]]},{"id":"cf39e388.9e3eb","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[15]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":260,"wires":[["10123843.011f68"]]},{"id":"6910dc54.2c9604","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[7]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":300,"wires":[["5dfdc1a8.980c9"]]},{"id":"37d02d24.bab3b2","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[14]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":340,"wires":[["a494f55c.52e2d8"]]},{"id":"f5cbd161.d0c8c","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[6]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":380,"wires":[["7f8ba4e.6c9185c"]]},{"id":"1d3f2f2d.292151","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[13]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":420,"wires":[["a664d515.35f1c8"]]},{"id":"17485a00.625f36","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[5]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":460,"wires":[["104e8e3a.9454c2"]]},{"id":"f38e00b.8feee","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[12]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":500,"wires":[["1af13f04.416fb1"]]},{"id":"25b7da7c.692786","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[4]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":540,"wires":[["2f20ea65.23a266"]]},{"id":"c6abe7d8.82e5d8","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[11]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":580,"wires":[["bb3ea41a.6e0998"]]},{"id":"b0e550a8.41542","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[3]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":620,"wires":[["584e73e7.23ca2c"]]},{"id":"f0c6ef0d.2","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[10]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":660,"wires":[["3ddd6210.db7dbe"]]},{"id":"71dadc64.80ace4","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[2]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":700,"wires":[["1097a005.c3aa6"]]},{"id":"6249f7c7.48be78","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[9]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":740,"wires":[["8c00d4df.54e438"]]},{"id":"31f9c645.a3ce9a","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[1]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":780,"wires":[["f76d6646.4fe988"]]},{"id":"d82cd517.616da8","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[8]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":820,"wires":[["8d1b8141.15906"]]},{"id":"2d45b789.f45a48","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":860,"wires":[["3fa833d.e9deacc"]]},{"id":"6117be7.eab604","type":"ui_text","z":"a7812bab.95b4c8","group":"84dd02b0.30a9f","order":23,"width":3,"height":1,"name":"","label":"FALHA PORT 7","format":"{{msg.payload}}","layout":"row-center","x":2640,"y":1140,"wires":[]},{"id":"10bc3478.c11f2c","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[16]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":900,"wires":[["670f00c6.5aa93"]]},{"id":"7fe6bcd3.180964","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[17]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":940,"wires":[["1eb5ece3.6dad33"]]},{"id":"4ebf8d8.5da3874","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[18]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":980,"wires":[["1b5a32cc.e0f27d"]]},{"id":"91f659d6.644a48","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[19]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":1020,"wires":[["74a9d843.7f6e58"]]},{"id":"145ead03.722ea3","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[20]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":1060,"wires":[["a0df39f.ef5d0c8"]]},{"id":"ef9dc4d4.7b47d8","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[21]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":1100,"wires":[["5fde0d2f.0e4414"]]},{"id":"1c809bcf.6a9ee4","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[22]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":1140,"wires":[["9aaf299d.7a9548"]]},{"id":"e5a0ec2d.95f48","type":"function","z":"a7812bab.95b4c8","name":"","func":"msg.payload=msg.payload[23]\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":1180,"wires":[["524651f7.88ea7"]]},{"id":"728c0117.e588b","type":"function","z":"a7812bab.95b4c8","name":"Hex to Bin","func":"var output1 = {}; //define output\nvar output2 = {}; //define output\nvar output3 = {}; //define output\nvar hex = (msg.payload.processInputs).replace(/ /g, \"\");\nvar dec = parseInt(hex,16);\n//no leading zeroeswith this method\n//var bit = parseInt(hex,16).toString(2);\nvar bit\nfunction hexToBinary(s) {\nvar i, k, part, ret = '';\n// lookup table for easier conversion. '0' characters are padded for '1' to '7'\nvar lookupTable = {\n'0': '0000', '1': '0001', '2': '0010', '3': '0011', '4': '0100',\n'5': '0101', '6': '0110', '7': '0111', '8': '1000', '9': '1001',\n'a': '1010', 'b': '1011', 'c': '1100', 'd': '1101',\n'e': '1110', 'f': '1111',\n'A': '1010', 'B': '1011', 'C': '1100', 'D': '1101',\n'E': '1110', 'F': '1111'\n};\nfor (i = 0; i < s.length; i += 1) {\nif (lookupTable.hasOwnProperty(s[i])) {\nret += lookupTable[s[i]];\n} else {\nreturn { valid: false };\n}\n}\nreturn { valid: true, result: ret };\n}\nbit=hexToBinary(hex);\noutput1.payload=hex;\noutput2.payload=dec;\noutput3.payload=bit.result;\nreturn [output1,output2,output3];","outputs":3,"noerr":0,"x":1910,"y":1060,"wires":[[],[],[]]},{"id":"b5bdca45.6d1c18","type":"function","z":"a7812bab.95b4c8","name":"Port x","func":"msg.payload ='000000000000000011111111'\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":940,"wires":[["10bc3478.c11f2c","7fe6bcd3.180964","4ebf8d8.5da3874","91f659d6.644a48","145ead03.722ea3","ef9dc4d4.7b47d8","1c809bcf.6a9ee4","e5a0ec2d.95f48","8801d702.adac48"]]},{"id":"bca6cef7.72255","type":"inject","z":"a7812bab.95b4c8","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1850,"y":880,"wires":[["b5bdca45.6d1c18"]]},{"id":"8801d702.adac48","type":"debug","z":"a7812bab.95b4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2000,"y":1240,"wires":[]},{"id":"94ac2940.81a958","type":"comment","z":"a7812bab.95b4c8","name":"PÁGINA PRINCIPAL - MASTER IOL","info":"","x":160,"y":20,"wires":[]},{"id":"454784b4.8fa17c","type":"ui_button","z":0,"name":"","group":"6b122b55.b75c54","order":1,"width":0,"height":0,"passthru":false,"label":"BACK","tooltip":"Voltar á tela do Master IO-Link","color":"WHITE","bgcolor":"BLACK","icon":"","payload":"","payloadType":"str","topic":"","x":1070,"y":360,"wires":[[]]},{"id":"dc00ee1b.fa552","type":"ui_media","z":0,"group":"6b122b55.b75c54","name":"BAE","width":"5","height":"8","order":2,"category":"HeartBeat","file":"BAE00T4.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"BAE","x":1190,"y":360,"wires":[[]]},{"id":"33c02b55.da5aa4","type":"http request","z":0,"name":"BNI Json","method":"use","ret":"obj","url":"","tls":"","x":729,"y":94.00001525878906,"wires":[["7a3f1dc2.da7904"]]},{"id":"77163932.3600e8","type":"function","z":0,"name":"Configure GET command","func":"msg.method=\"GET\";\nmsg.url=global.get(\"IP\")+\"/ports.jsn\";\n\nif (msg.url!==\"\")\n{\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":515.982666015625,"y":92.98959350585938,"wires":[["33c02b55.da5aa4"]]},{"id":"ec033551.be0748","type":"inject","z":0,"name":"","topic":"","payload":"192.168.0.100","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["311f419a.05465e"]]},{"id":"7a3f1dc2.da7904","type":"function","z":0,"name":"Global set master_data","func":"global.set(\"master_data\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":100,"wires":[["8b590ec6.5acd2"]]},{"id":"43bd7dab.be7ef4","type":"udp out","z":0,"name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"2000","base64":false,"multicast":"false","x":1050,"y":240,"wires":[]},{"id":"ba59ff07.fcad7","type":"function","z":0,"name":"Set Payload to Buffer","func":"var string = msg.hex.replace(/\\s/g,'');\nmsg.ip = msg.host;\nmsg.port = '1999';\nmsg.payload = Buffer.from(string,\"hex\");\n\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload, \"hex\");\n","outputs":1,"noerr":0,"x":860,"y":240,"wires":[["43bd7dab.be7ef4"]]},{"id":"f9870000.ce75e","type":"function","z":0,"name":"foreach port","func":"// list of ports to initialize\nlet ports = msg.ports || [0]; \n\n// get port_index from node context, or initialize\nlet port_index = context.get('port_index') || 0;\n\n// finished?\nif (port_index >= ports.length) {\n    context.set('port_index', null); // undefine port_index\n    return null;\n}\n    \n// prepare message:\nmsg.port = (\"00\" + ports[port_index]).slice(-2);\n\n// next port...\ncontext.set('port_index', port_index+1);\n\nmsg.hex = '24 00 02 0F '+ msg.port +' 00 0C 11 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 32 32';\n\nreturn msg;\n\n//24 00.02.0F.00.00.0C.11.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.00.32.32","outputs":"1","noerr":0,"x":630,"y":240,"wires":[["ba59ff07.fcad7","f23687.58de6978"]]},{"id":"f23687.58de6978","type":"delay","z":0,"name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":280,"wires":[["f9870000.ce75e"]]},{"id":"1fbad5ce.7f850a","type":"change","z":0,"name":"read host and ports from config","rules":[{"t":"set","p":"host","pt":"msg","to":"IP","tot":"global"},{"t":"set","p":"ports","pt":"msg","to":"[0,1,2,3,4,5,6,7]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":240,"wires":[["f9870000.ce75e"]]},{"id":"eca47be7.ec8998","type":"inject","z":0,"name":"Ts-35s","topic":"","payload":"","payloadType":"date","repeat":"35","crontab":"","once":false,"onceDelay":"5","x":120,"y":240,"wires":[["1fbad5ce.7f850a"]]},{"id":"3df6f79e.924908","type":"comment","z":0,"name":"Get Master Data","info":"Get and safe the master data.\nPlease configure the IP-adress correctly.","x":100,"y":40,"wires":[]},{"id":"c072fa22.7fcaf8","type":"comment","z":0,"name":"Set Ports to IO-Link","info":"With this node flow you can set the ports to IO-Link.\nPlease configure the IP adress correctly.","x":110,"y":177.99998474121094,"wires":[]},{"id":"311f419a.05465e","type":"function","z":0,"name":"Global set IP","func":"global.set(\"IP\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":93,"wires":[["77163932.3600e8"]]},{"id":"4775476c.e99388","type":"comment","z":0,"name":"Read the Port 0","info":"With this node flow you can set read a Port with Heartbeat","x":100,"y":340,"wires":[]},{"id":"8c60d7f4.897368","type":"inject","z":0,"name":"Get Port Info","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":401,"wires":[["30618df7.b88ff2"]]},{"id":"30618df7.b88ff2","type":"change","z":0,"name":"read host and ports from config","rules":[{"t":"set","p":"payload","pt":"msg","to":"master_data","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":401,"wires":[["5ba68813.0cf058"]]},{"id":"d9cbe4cb.bbf598","type":"comment","z":0,"name":"Dashboard","info":"","x":1120,"y":320,"wires":[]},{"id":"8b590ec6.5acd2","type":"change","z":0,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":100,"wires":[[]]},{"id":"5ba68813.0cf058","type":"function","z":0,"name":"Port0","func":"msg.payload = msg.payload.ports[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":401,"wires":[["eabd0874.9b1088","b5962009.665b9","1b5c6c89.d37a23","98e6e16.c8ee12"]]},{"id":"eabd0874.9b1088","type":"function","z":0,"name":"Vendor Name","func":"msg.payload=msg.payload.vendorName;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":401,"wires":[[]]},{"id":"b5962009.665b9","type":"function","z":0,"name":"Product","func":"msg.payload=msg.payload.productName;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":441,"wires":[[]]},{"id":"1b5c6c89.d37a23","type":"function","z":0,"name":"Product Text","func":"msg.payload=msg.payload.productText;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":481,"wires":[[]]},{"id":"183b3d6e.ca11d3","type":"function","z":0,"name":"Output voltage","func":"msg.payload = parseInt(msg.payload.slice(0,12), 2);\nmsg.payload = (msg.payload/10);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":541,"wires":[["3faf8fa7.7de8d","fc6b1e7d.63828"]]},{"id":"98e6e16.c8ee12","type":"function","z":0,"name":"Hex to Bin","func":"var output1 = {}; //define output\nvar output2 = {}; //define output\nvar output3 = {}; //define output\nvar hex = (msg.payload.processInputs).replace(/ /g, \"\");\nvar dec = parseInt(hex,16);\n//no leading zeroeswith this method\n//var bit = parseInt(hex,16).toString(2);\nvar bit\nfunction hexToBinary(s) {\nvar i, k, part, ret = '';\n// lookup table for easier conversion. '0' characters are padded for '1' to '7'\nvar lookupTable = {\n'0': '0000', '1': '0001', '2': '0010', '3': '0011', '4': '0100',\n'5': '0101', '6': '0110', '7': '0111', '8': '1000', '9': '1001',\n'a': '1010', 'b': '1011', 'c': '1100', 'd': '1101',\n'e': '1110', 'f': '1111',\n'A': '1010', 'B': '1011', 'C': '1100', 'D': '1101',\n'E': '1110', 'F': '1111'\n};\nfor (i = 0; i < s.length; i += 1) {\nif (lookupTable.hasOwnProperty(s[i])) {\nret += lookupTable[s[i]];\n} else {\nreturn { valid: false };\n}\n}\nreturn { valid: true, result: ret };\n}\nbit=hexToBinary(hex);\noutput1.payload=hex;\noutput2.payload=dec;\noutput3.payload=bit.result;\nreturn [output1,output2,output3];","outputs":3,"noerr":0,"x":750,"y":541,"wires":[[],[],["671aaa69.c4fbc4","ddaaabc1.8848a8","cc410aee.166b48","c27a1da7.60ee7","2e8b2842.31e518","183b3d6e.ca11d3","5a02e698.157778"]]},{"id":"5a02e698.157778","type":"function","z":0,"name":"Output current","func":"msg.payload = parseInt(msg.payload.slice(12,24), 2);\nmsg.payload = (msg.payload/10);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":620,"wires":[["10ec3404.804abc","3862d62d.0a628a"]]},{"id":"671aaa69.c4fbc4","type":"function","z":0,"name":"PSU","func":"msg.payload = msg.payload[25];\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":680,"wires":[["d228bdfb.03fb3"]]},{"id":"ddaaabc1.8848a8","type":"function","z":0,"name":"Output drop","func":"msg.payload = msg.payload[29];\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":720,"wires":[["5efab5e7.79b48c"]]},{"id":"cc410aee.166b48","type":"function","z":0,"name":"Over temperature","func":"msg.payload = msg.payload[30];\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":760,"wires":[["52014136.a1a14"]]},{"id":"c27a1da7.60ee7","type":"function","z":0,"name":"Over Voltage","func":"msg.payload = msg.payload[31];\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":800,"wires":[["787572e9.a48b2c"]]},{"id":"2e8b2842.31e518","type":"function","z":0,"name":"Overload","func":"msg.payload = msg.payload[32];\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":840,"wires":[["ed14a78e.d3ee38"]]},{"id":"3faf8fa7.7de8d","type":"ui_chart","z":0,"name":"","group":"a555bc0a.058ca","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":560,"wires":[[]]},{"id":"10ec3404.804abc","type":"ui_chart","z":0,"name":"","group":"c41b0953.07d398","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":640,"wires":[[]]},{"id":"d228bdfb.03fb3","type":"ui_led","z":0,"group":"866851ce.c73fb","order":1,"width":0,"height":0,"label":"PSU","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":1110,"y":680,"wires":[]},{"id":"fc6b1e7d.63828","type":"ui_gauge","z":0,"name":"","group":"a555bc0a.058ca","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"[V]","format":"{{value}} ","min":0,"max":"30","colors":["#e6e600","#00b500","#ca3838"],"seg1":"18","seg2":"26","x":1110,"y":520,"wires":[]},{"id":"3862d62d.0a628a","type":"ui_gauge","z":0,"name":"","group":"c41b0953.07d398","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"[A]","format":"{{value}}","min":0,"max":"8","colors":["#00b500","#e6e600","#ca3838"],"seg1":"4","seg2":"5","x":1110,"y":600,"wires":[]},{"id":"5efab5e7.79b48c","type":"ui_led","z":0,"group":"866851ce.c73fb","order":3,"width":0,"height":0,"label":"Output Drop","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":1110,"y":720,"wires":[]},{"id":"52014136.a1a14","type":"ui_led","z":0,"group":"866851ce.c73fb","order":4,"width":0,"height":0,"label":"Over Temperature","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":1110,"y":760,"wires":[]},{"id":"787572e9.a48b2c","type":"ui_led","z":0,"group":"866851ce.c73fb","order":7,"width":0,"height":0,"label":"Over Voltage","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":1110,"y":800,"wires":[]},{"id":"ed14a78e.d3ee38","type":"ui_led","z":0,"group":"866851ce.c73fb","order":9,"width":0,"height":0,"label":"Overload","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"0","valueType":"str"},{"color":"red","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":1110,"y":840,"wires":[]},{"id":"3ca312e.53934ee","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":460,"wires":[]},{"id":"26a2eca4.e3b844","type":"inject","z":"76246977.5677f8","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["6ef92a42.ba10c4"]]},{"id":"8547b5ab.fce8a8","type":"excel","z":"76246977.5677f8","name":"","file":"C:\\Users\\cardosog\\Desktop\\TesteNode-red.xlsx","x":570,"y":180,"wires":[["caaa3cd2.d3bdd"]]},{"id":"caaa3cd2.d3bdd","type":"debug","z":"76246977.5677f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":180,"wires":[]},{"id":"6ef92a42.ba10c4","type":"function","z":"76246977.5677f8","name":"Condition","func":"if (msg.payload <= 40500){\n    time = new Date();\n    msg.payload = {Value: msg.payload , Time: time.toString()};\n    msg.write = 1;\n    \n}else{\n    msg.payload = msg.payload;\n    msg.write = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["8547b5ab.fce8a8"]]},{"id":"f4381ee0.92e3e","type":"inject","z":"66d9dfa6.8cb38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["f666dcf4.1f7e1"]]},{"id":"f666dcf4.1f7e1","type":"http request","z":"66d9dfa6.8cb38","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.0.15/ports.jsn","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":40,"wires":[["bf42657a.7a0a88","1303eabe.f2ec25","98943faf.f0267","2a6dcd44.ca4da2"]]},{"id":"bf42657a.7a0a88","type":"function","z":"66d9dfa6.8cb38","name":"BNI00AJ Process Input","func":"msg.payload = msg.payload.ports[0];\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":240,"wires":[["10529b47.7f3775"]]},{"id":"f17b8970.ccacf8","type":"ui_button","z":"66d9dfa6.8cb38","name":"","group":"1b913c74.328464","order":1,"width":8,"height":1,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"BLACK","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":420,"wires":[[]]},{"id":"1401c2b5.5c116d","type":"ui_gauge","z":"66d9dfa6.8cb38","name":"","group":"1b913c74.328464","order":2,"width":4,"height":3,"gtype":"gage","title":"Pressão","label":"bar","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":140,"y":460,"wires":[]},{"id":"4aa83c4.9ccaec4","type":"ui_gauge","z":"66d9dfa6.8cb38","name":"","group":"1b913c74.328464","order":5,"width":4,"height":3,"gtype":"gage","title":"Temperatura","label":"C°","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":150,"y":580,"wires":[]},{"id":"464be2ae.7b0b2c","type":"ui_button","z":"66d9dfa6.8cb38","name":"","group":"1b913c74.328464","order":6,"width":8,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"BLACK","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":620,"wires":[[]]},{"id":"1d396ec0.9323f1","type":"ui_media","z":"66d9dfa6.8cb38","group":"b5e72b91.aa0698","name":"","width":6,"height":6,"order":2,"category":"Analog Input","file":"BNI00AJ.PNG","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":330,"y":460,"wires":[[]]},{"id":"7470e25e.9016fc","type":"ui_gauge","z":"66d9dfa6.8cb38","name":"","group":"1b913c74.328464","order":4,"width":4,"height":3,"gtype":"gage","title":"Velocidade","label":"RPM","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":150,"y":540,"wires":[]},{"id":"cf4e9f4c.3eff8","type":"ui_gauge","z":"66d9dfa6.8cb38","name":"","group":"1b913c74.328464","order":3,"width":4,"height":3,"gtype":"gage","title":"Vibração","label":"Hz","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":140,"y":500,"wires":[]},{"id":"bab4b803.5a7cb8","type":"ui_button","z":"66d9dfa6.8cb38","name":"","group":"b5e72b91.aa0698","order":1,"width":6,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"BLACK","icon":"","payload":"","payloadType":"str","topic":"","x":330,"y":500,"wires":[[]]},{"id":"7857921b.e2c76c","type":"ui_button","z":"66d9dfa6.8cb38","name":"","group":"b5e72b91.aa0698","order":3,"width":6,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"BLACK","icon":"","payload":"","payloadType":"str","topic":"","x":330,"y":420,"wires":[[]]},{"id":"3a7833f1.fc78cc","type":"ui_gauge","z":"66d9dfa6.8cb38","name":"","group":"fc2fa4a4.b798f8","order":5,"width":4,"height":3,"gtype":"gage","title":"Pressão","label":"PSI","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":580,"wires":[]},{"id":"e243cd40.f6579","type":"ui_gauge","z":"66d9dfa6.8cb38","name":"","group":"fc2fa4a4.b798f8","order":2,"width":4,"height":3,"gtype":"gage","title":"Distância","label":"mm","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":460,"wires":[]},{"id":"4a067b25.31cce4","type":"ui_gauge","z":"66d9dfa6.8cb38","name":"","group":"fc2fa4a4.b798f8","order":3,"width":4,"height":3,"gtype":"gage","title":"Vibração","label":"Hz","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":500,"wires":[]},{"id":"ab879c07.d975","type":"ui_gauge","z":"66d9dfa6.8cb38","name":"","group":"fc2fa4a4.b798f8","order":4,"width":4,"height":3,"gtype":"gage","title":"Velocidade","label":"Km/h","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":540,"wires":[]},{"id":"e7b41e0.e730de","type":"ui_button","z":"66d9dfa6.8cb38","name":"","group":"fc2fa4a4.b798f8","order":1,"width":8,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"BLACK","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":620,"wires":[[]]},{"id":"bd6e4631.6823d8","type":"ui_button","z":"66d9dfa6.8cb38","name":"","group":"fc2fa4a4.b798f8","order":6,"width":8,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"BLACK","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":420,"wires":[[]]},{"id":"10529b47.7f3775","type":"function","z":"66d9dfa6.8cb38","name":"Hex to Bin","func":"var output1 = {}; //define output\nvar output2 = {}; //define output\nvar output3 = {}; //define output\nvar hex = (msg.payload.processInputs).replace(/ /g, \"\");\nvar dec = parseInt(hex,16);\n//no leading zeroeswith this method\n//var bit = parseInt(hex,16).toString(2);\nvar bit\nfunction hexToBinary(s) {\nvar i, k, part, ret = '';\n// lookup table for easier conversion. '0' characters are padded for '1' to '7'\nvar lookupTable = {\n'0': '0000', '1': '0001', '2': '0010', '3': '0011', '4': '0100',\n'5': '0101', '6': '0110', '7': '0111', '8': '1000', '9': '1001',\n'a': '1010', 'b': '1011', 'c': '1100', 'd': '1101',\n'e': '1110', 'f': '1111',\n'A': '1010', 'B': '1011', 'C': '1100', 'D': '1101',\n'E': '1110', 'F': '1111'\n};\nfor (i = 0; i < s.length; i += 1) {\nif (lookupTable.hasOwnProperty(s[i])) {\nret += lookupTable[s[i]];\n} else {\nreturn { valid: false };\n}\n}\nreturn { valid: true, result: ret };\n}\nbit=hexToBinary(hex);\noutput1.payload=hex;\noutput2.payload=dec;\noutput3.payload=bit.result;\nreturn [output1,output2,output3];","outputs":3,"noerr":0,"x":390,"y":240,"wires":[[],[],["5c53afe3.81f46","9d93745f.382c08","ba77f79.a793f08","97b02203.71145","6d133de2.9b4a24","9b210a67.b9f718","70d3a498.ad1b6c","a7fc473b.4ec2f8","a21a5294.2ef8c","281c5641.e5582a","10a5c4c9.8e34db","18b76a2b.491196","aa80baf0.e7caa8","5cf6c5bd.77d9cc","1d224ca3.c5b5a3","bd719772.0bf4c8","35d86f21.07a8f","cf44609d.9659c","ac009c97.c36a5","49816321.345bbc","b42e8079.5a4a6","28f33aa8.0adc46","75bf7de3.237384","12eb285e.9765f8","5588781.1ba7788","6a3f8ffa.c96b2","29be16ce.8353fa","31ddf6d6.3d423a","813b3856.a6c528","af77eaf7.f09938","be9807d3.685048","7eb54ebb.884df"]]},{"id":"5c53afe3.81f46","type":"function","z":"66d9dfa6.8cb38","name":"Analog Value Port 0","func":"msg.payload = parseInt(msg.payload.slice(16,32), 2);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":40,"wires":[["1401c2b5.5c116d"]]},{"id":"1303eabe.f2ec25","type":"function","z":"66d9dfa6.8cb38","name":"Vendor Name","func":"msg.payload = msg.payload.ports[0].vendorName;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":120,"wires":[[]]},{"id":"98943faf.f0267","type":"function","z":"66d9dfa6.8cb38","name":"Product Name","func":"msg.payload = msg.payload.ports[0].productName;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":160,"wires":[[]]},{"id":"2a6dcd44.ca4da2","type":"function","z":"66d9dfa6.8cb38","name":"Product Id","func":"msg.payload = msg.payload.ports[0].productId;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":200,"wires":[[]]},{"id":"9d93745f.382c08","type":"function","z":"66d9dfa6.8cb38","name":"Analog Value Port 1","func":"msg.payload = parseInt(msg.payload.slice(32,48), 2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":40,"wires":[["e243cd40.f6579"]]},{"id":"ba77f79.a793f08","type":"function","z":"66d9dfa6.8cb38","name":"Analog Value Port 2","func":"msg.payload = parseInt(msg.payload.slice(32,48), 2);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":80,"wires":[["cf4e9f4c.3eff8"]]},{"id":"97b02203.71145","type":"function","z":"66d9dfa6.8cb38","name":"Analog Value Port 3","func":"msg.payload = parseInt(msg.payload.slice(48,64), 2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":80,"wires":[["4a067b25.31cce4"]]},{"id":"6d133de2.9b4a24","type":"function","z":"66d9dfa6.8cb38","name":"Analog Value Port 4","func":"msg.payload = parseInt(msg.payload.slice(64,80), 2);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["7470e25e.9016fc"]]},{"id":"a7fc473b.4ec2f8","type":"function","z":"66d9dfa6.8cb38","name":"Analog Value Port 5","func":"msg.payload = parseInt(msg.payload.slice(80,96), 2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":120,"wires":[["ab879c07.d975"]]},{"id":"9b210a67.b9f718","type":"function","z":"66d9dfa6.8cb38","name":"Analog Value Port 6","func":"msg.payload = parseInt(msg.payload.slice(96,112), 2);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["4aa83c4.9ccaec4"]]},{"id":"70d3a498.ad1b6c","type":"function","z":"66d9dfa6.8cb38","name":"Analog Value Port 7","func":"msg.payload = parseInt(msg.payload.slice(112,128), 2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":160,"wires":[["3a7833f1.fc78cc"]]},{"id":"a21a5294.2ef8c","type":"function","z":"66d9dfa6.8cb38","name":"Wire Brake Port 0","func":"msg.payload = parseInt(msg.payload.slice(128,129), 2);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":240,"wires":[[]]},{"id":"aa80baf0.e7caa8","type":"function","z":"66d9dfa6.8cb38","name":"Wire Brake Port 1","func":"msg.payload = parseInt(msg.payload.slice(129,130), 2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":240,"wires":[[]]},{"id":"281c5641.e5582a","type":"function","z":"66d9dfa6.8cb38","name":"Wire Brake Port 2","func":"msg.payload = parseInt(msg.payload.slice(130,131), 2);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":280,"wires":[[]]},{"id":"5cf6c5bd.77d9cc","type":"function","z":"66d9dfa6.8cb38","name":"Wire Brake Port 3","func":"msg.payload = parseInt(msg.payload.slice(131,132), 2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":280,"wires":[[]]},{"id":"10a5c4c9.8e34db","type":"function","z":"66d9dfa6.8cb38","name":"Wire Brake Port 4","func":"msg.payload = parseInt(msg.payload.slice(132,133), 2);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[[]]},{"id":"1d224ca3.c5b5a3","type":"function","z":"66d9dfa6.8cb38","name":"Wire Brake Port 5","func":"msg.payload = parseInt(msg.payload.slice(133,134), 2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":320,"wires":[[]]},{"id":"18b76a2b.491196","type":"function","z":"66d9dfa6.8cb38","name":"Wire Brake Port 6","func":"msg.payload = parseInt(msg.payload.slice(134,135), 2);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[[]]},{"id":"bd719772.0bf4c8","type":"function","z":"66d9dfa6.8cb38","name":"Wire Brake Port 7","func":"msg.payload = parseInt(msg.payload.slice(135,136), 2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":360,"wires":[[]]},{"id":"35d86f21.07a8f","type":"function","z":"66d9dfa6.8cb38","name":"Underflow Port 0","func":"msg.payload = parseInt(msg.payload.slice(136,137), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":40,"wires":[[]]},{"id":"b42e8079.5a4a6","type":"function","z":"66d9dfa6.8cb38","name":"Underflow Port 1","func":"msg.payload = parseInt(msg.payload.slice(137,138), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":40,"wires":[[]]},{"id":"cf44609d.9659c","type":"function","z":"66d9dfa6.8cb38","name":"Underflow Port 2","func":"msg.payload = parseInt(msg.payload.slice(138,139), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":80,"wires":[[]]},{"id":"28f33aa8.0adc46","type":"function","z":"66d9dfa6.8cb38","name":"Underflow Port 3","func":"msg.payload = parseInt(msg.payload.slice(139,140), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":80,"wires":[[]]},{"id":"ac009c97.c36a5","type":"function","z":"66d9dfa6.8cb38","name":"Underflow Port 4","func":"msg.payload = parseInt(msg.payload.slice(140,141), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":120,"wires":[[]]},{"id":"75bf7de3.237384","type":"function","z":"66d9dfa6.8cb38","name":"Underflow Port 5","func":"msg.payload = parseInt(msg.payload.slice(141,142), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":120,"wires":[[]]},{"id":"49816321.345bbc","type":"function","z":"66d9dfa6.8cb38","name":"Underflow Port 6","func":"msg.payload = parseInt(msg.payload.slice(142,143), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":160,"wires":[[]]},{"id":"12eb285e.9765f8","type":"function","z":"66d9dfa6.8cb38","name":"Underflow Port 7","func":"msg.payload = parseInt(msg.payload.slice(143,144), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":160,"wires":[[]]},{"id":"31ddf6d6.3d423a","type":"function","z":"66d9dfa6.8cb38","name":"Overflow Port 0","func":"msg.payload = parseInt(msg.payload.slice(144,145), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":240,"wires":[[]]},{"id":"7eb54ebb.884df","type":"function","z":"66d9dfa6.8cb38","name":"Overflow Port 1","func":"msg.payload = parseInt(msg.payload.slice(145,146), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":240,"wires":[[]]},{"id":"29be16ce.8353fa","type":"function","z":"66d9dfa6.8cb38","name":"Overflow Port 2","func":"msg.payload = parseInt(msg.payload.slice(146,147), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":280,"wires":[[]]},{"id":"be9807d3.685048","type":"function","z":"66d9dfa6.8cb38","name":"Overflow Port 3","func":"msg.payload = parseInt(msg.payload.slice(147,148), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":280,"wires":[[]]},{"id":"6a3f8ffa.c96b2","type":"function","z":"66d9dfa6.8cb38","name":"Overflow Port 4","func":"msg.payload = parseInt(msg.payload.slice(148,149), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":320,"wires":[[]]},{"id":"af77eaf7.f09938","type":"function","z":"66d9dfa6.8cb38","name":"Overflow Port 5","func":"msg.payload = parseInt(msg.payload.slice(149,150), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":320,"wires":[[]]},{"id":"5588781.1ba7788","type":"function","z":"66d9dfa6.8cb38","name":"Overflow Port 6","func":"msg.payload = parseInt(msg.payload.slice(150,151), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":360,"wires":[[]]},{"id":"813b3856.a6c528","type":"function","z":"66d9dfa6.8cb38","name":"Overflow Port 7","func":"msg.payload = parseInt(msg.payload.slice(151,152), 2);\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":360,"wires":[[]]}]