flow.json
[{"id":"b3b2d606.54b4e8","type":"tab","label":"renato - aplicativo IIoT","disabled":false,"info":"Aplicativo IIoT executavel para vendas"},{"id":"bf988a1f.ee36b8","type":"tab","label":"renato -02","disabled":false,"info":""},{"id":"ac39de50.95a68","type":"tab","label":"thomailson - 01","disabled":false,"info":""},{"id":"d70acf5c.c918f","type":"ui_group","z":"","name":"Grupo - 01","tab":"e83ca0c.591686","order":1,"disp":true,"width":"6","collapse":false},{"id":"c853af64.8c6d","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IO-Link Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2e44c263.0d16be","type":"ibmiot","z":"","name":"Industry 4.0 Demo case","keepalive":"60","serverName":"52d026.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"c20f4a48.6e9948","type":"mqtt-broker","z":"","name":"Training 1","broker":"52d026.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:52d026:IO-Link:BAE00T4","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1bf8bf4b.cf9e31","type":"ui_group","z":"","name":"IO-Link Master - Connected Ports","tab":"","order":1,"disp":true,"width":10,"collapse":false},{"id":"57bada62.28b484","type":"ui_group","z":"","name":"Grupo - 01","tab":"2e41c69c.6e9c2a","order":2,"disp":true,"width":"6","collapse":false},{"id":"f4c16371.117f7","type":"mqtt-broker","z":"","name":"Training 2","broker":"x6xkka.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:x6xkka:IO-Link:IO-Link-Master-001","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3be43732.03db08","type":"ui_group","z":"","name":"Smartlight Control","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"bf5a8775.1243d8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"999f3430.8d7d58","type":"ui_group","z":"","name":"Raspberry Pi Shutdown","tab":"","order":1,"disp":true,"width":"6"},{"id":"59a31626.8ddda8","type":"ui_group","z":"","name":"Default","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2e41c69c.6e9c2a","type":"ui_tab","z":"","name":"Renato - 01","icon":"dashboard","disabled":false,"hidden":false},{"id":"e83ca0c.591686","type":"ui_tab","z":"","name":"Thomailson - 01","icon":"dashboard","disabled":false,"hidden":false},{"id":"c6f4941f.646d68","type":"inject","z":"b3b2d606.54b4e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[[]]},{"id":"2a974323.60cabc","type":"http request","z":"b3b2d606.54b4e8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://192.168.0.2/dprop.jsn","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":140,"wires":[[]]},{"id":"86c548d5.c70e58","type":"switch","z":"b3b2d606.54b4e8","name":"Condition switching","property":"write","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":240,"wires":[["863dd7f8.eac228"],["db0f2403.8f95c8"]]},{"id":"5c7f53e0.fd9cdc","type":"inject","z":"b3b2d606.54b4e8","name":"","topic":"","payload":"\"11 01 F4 AA\"","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":200,"wires":[[]]},{"id":"db0f2403.8f95c8","type":"debug","z":"b3b2d606.54b4e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":260,"wires":[]},{"id":"7d3797f5.120f98","type":"function","z":"b3b2d606.54b4e8","name":"","func":"bodval = msg.payload.replace(/\\s/g,''); // removing spaces\nmsg.payload = parseInt(bodval.slice(2,6), 16); // converting from nibble 2 size 6 nibbles\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["b089340e.b4c458","c58c9f2c.5ac13"]]},{"id":"ca8c5ed9.9eeff","type":"function","z":"b3b2d606.54b4e8","name":"","func":"bodval = (msg.payload[0].processInputs).replace(/\\s/g,''); // removing spaces\nmsg.payload = parseInt(bodval.slice(2,6), 16);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[[]]},{"id":"b089340e.b4c458","type":"function","z":"b3b2d606.54b4e8","name":"","func":"if (msg.payload <= 6000) {\n    time = new Date();\n    msg.payload = {Value: msg.payload, Time: time.toString()};\n    msg.write = 1;\n} else {\n    msg.payload = msg.payload;\n    msg.write = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":240,"wires":[["86c548d5.c70e58"]]},{"id":"863dd7f8.eac228","type":"excel","z":"b3b2d606.54b4e8","name":"","file":"C:\\Users\\gomesr\\Desktop\\Datalog.xlsx","x":990,"y":200,"wires":[["d5a147c6.55dd48"]]},{"id":"d5a147c6.55dd48","type":"debug","z":"b3b2d606.54b4e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":200,"wires":[]},{"id":"c58c9f2c.5ac13","type":"ui_chart","z":"b3b2d606.54b4e8","name":"","group":"57bada62.28b484","order":2,"width":0,"height":0,"label":"Distance","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"6000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1190,"y":340,"wires":[[]]},{"id":"e560e9ea.b51158","type":"ui_button","z":"b3b2d606.54b4e8","name":"","group":"57bada62.28b484","order":3,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"11 01 F4 AA\"","payloadType":"json","topic":"","x":170,"y":260,"wires":[["7d3797f5.120f98"]]},{"id":"27af060f.5f11fa","type":"ui_switch","z":"b3b2d606.54b4e8","name":"","label":"switch","tooltip":"","group":"57bada62.28b484","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":80,"wires":[["2a974323.60cabc"]]},{"id":"f4b4b48a.039308","type":"inject","z":"ac39de50.95a68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["9931b734.013db8","1049215f.392b6f"]]},{"id":"9931b734.013db8","type":"debug","z":"ac39de50.95a68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":140,"wires":[]},{"id":"c49abef1.65428","type":"inject","z":"bf988a1f.ee36b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":120,"wires":[["6ba9c9a0.a9b648"]]},{"id":"6ba9c9a0.a9b648","type":"debug","z":"bf988a1f.ee36b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":200,"wires":[]},{"id":"1049215f.392b6f","type":"ui_chart","z":"ac39de50.95a68","name":"","group":"d70acf5c.c918f","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":380,"y":200,"wires":[[]]}]